.student_card_container {
    margin-bottom: 52px;
}
.card_header {
    background-image: url('../../../../assets/img/banner_linkedin.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 26px 26px 35px 26px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 35px;

    .edit_btn {
        position: absolute;
        right: 26px;
        top: 26px;
        z-index: 1;
        cursor: pointer;
    }

    .title {
        font-family: var(--font-primary);
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
    }

    .card_container {
        display: flex;
        column-gap: 42px;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 30px;

        .header_card {
            background-color: #fff;
            display: inline-flex;
            align-items: center;
            padding: 17px 13px 17px 20px;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(229, 229, 229, 1);
            border-radius: 10px;
            position: relative;

            .content {
                width: calc(100% - 54px);
                padding-right: 20px;

                p {
                    font-family: var(--font-third);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 10px;
                }

                h4 {
                    font-family: var(--font-third);
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 0px;
                    &.pending{
                        color: var(--danger-color);
                    }
                }
            }
            &.view_btns_hover {
                // background-color: #FEF1EF;
        
                .action {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    grid-gap: 33px;
                    gap: 33px;
                    opacity: 0;
                    transition: all .3s ease-in-out;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                }
        
                &:hover{
                    &>:not(.action){
                        filter: blur(4px);
                    }
                    .action{
                        opacity: 1;
                        button{
                            height: 36px;
                        }
                    }
                }
            }
        }
    }
}

.student_card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 22px 30px;
    display: flex;
    margin-bottom: 0px;
    height: 100%;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &.total {
        background-color: #fff;

        .action {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-gap: 33px;
            gap: 33px;
            opacity: 0;
            transition: all .3s ease-in-out;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:hover{
            &>:not(.action){
                filter: blur(4px);
            }
            .action{
                opacity: 1;
                button{
                    height: 36px;
                }
            }
        }
    }

    .content {
        width: calc(100% - 45px);
        padding-right: 20px;

        h4 {
            font-family: var(--font-third);
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 0px;

        }
        p {
            font-family: var(--font-third);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 10px;
        }

        h1 {
            font-family: var(--font-primary);
            font-size: 26px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 0px;

        }
    }

}

.mod_groups {
    padding: 2px 10px 2px 10px;
    border-radius: 53px;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    span {
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: black;

    }
}

td {
    .mod_groups {
        padding: 2px 10px 2px 10px;
        border-radius: 53px;
        gap: 8px;
        display: inline-flex;
        align-items: center;

        span {
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--main-black-color);
            cursor: pointer;
            &:hover {
                color: var(--primary-color-first);
                text-decoration: underline;
            }
        }
    }
}

.new_form_select_modal {
    &.ch_modal .modal-dialog {
        max-width: 824px;

        .modal-header {
            h2 {
                color: var(--primary-color-first);
            }
        }

        .modal-body {
            padding: 30px 45px 45px;
        }

        .form_card {
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 1);
            border-radius: 40px;

            figure {
                padding: 48px 5px 30px 5px;
                margin-bottom: 0px;

                img {
                    margin: 0 auto;
                    display: block;
                }
            }

            .content {
                max-width: 318px;
                margin: 0 auto;
                text-align: center;
                padding: 0px 17px 52px;

                h5 {
                    font-family: var(--font-primary);
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0em;
                    color: #000000;
                    margin-bottom: 21px;
                }

                p {
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #000000;
                    margin-bottom: 41px;

                }

                .theme_btn {
                    width: 172px;
                    margin: 0 auto;
                }

            }

        }

    }
}
.view_all_contact_popup {
    .modal-dialog {
        max-width: 925px;
    }
}
.manage_table_scroll {
    height: 365px;
    overflow: auto;
}
.date_group.file_upload_date {
    flex-direction: column;

    .form-group {
        width: 100%;
    }

    .to {
        padding: 10px 0px;
    }
}

.add-company-main-div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 40px;
}

.add-company-box{
    width: 400px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    border-radius: 30px !important;
    border: 1px solid #ddd !important;
    box-shadow: 0px 0px 4px 0px #00000040 !important;
    padding: 40px !important;
    h2{
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
    }
    p{
        font-size: 14px;
        margin-top: 10px;
    }
    button{
        margin-top: 20px;
    }
}
.model-body-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.note-model-header{
    display: flex !important;
    justify-content: space-between !important;
    flex: 1 !important;
    align-items: center !important;
}

.note-list{
    border: 1px solid var(--TG-Mid-Light-Grey, #E5E5E5) !important;
    border-radius: 10px !important;
    padding: 15px !important;
}
  
.pending{
    background: #F2C94C;
    padding: 10px 15px;
    border-radius: 100px;
  }

  .success{
    background:  var(--New-group-TG-Main-Green, #26C296);
    padding: 10px 15px;
    border-radius: 100px;

}
.danger{
    background: #F47761;
    padding: 10px 15px;
    border-radius: 100px;
}
.text-hidden{
  overflow: hidden !important;  
}


.option-container {
    display: flex
    ;
    flex-direction: row;
    padding: 5px 5px;
    justify-content: space-between;
  }
  
  .title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2B2A35;
  }
  
  .category {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #464BA8;    
  }

  .option-container1 {
        display: flex;
        align-items: center;
        gap: 10px;
    }

.custom-checkbox {
    width: 16px;
    height: 16px;
}

.option-content {
    display: flex;
    flex-direction: column;
}


.avator-main{
    background: #ECEDFF;
    padding: 5px 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.av-height{
    width: 25px !important;
    height: 25px !important;
}
.av-profile{
    width: 25px  !important;
    height: 25px !important;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: 12px !important; 
    }
}

::ng-deep .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate{
    background-color:var(--primary-color-first);
}
.custom_dorp_select{
    min-width:150px !important
}
a.td_link {
    cursor: pointer;
    &:hover {
        color: var(--primary-color-first);
        text-decoration: underline;
    }
}

 .rotate-180 {
    // height: 24px;
    transform: rotate(90deg);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: end;
    padding: 3px;
  }

::ng-deep .rotate-180 .mat-ripple-element {
  display: none !important;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hide-menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease;
    padding-right: 6px;
        // Remove Angular Material ripple
    button{
        align-items: center;
    }
  }

  &:hover .hide-menu,
  .hide-menu.show {
    visibility: visible;
    opacity: 1;
    padding-right: 6px;
  }
}


.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

/* Remove blinking and pause animation when hovered */
.header-wrapper:hover .blink {
  animation-play-state: paused;
  opacity: 1;
}
.menu-column-danger{
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    vertical-align: middle !important;
    color: #F47761 !important;
}

::ng-deep .compact-menu .mat-menu-content {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 34px !important;
}

::ng-deep .compact-menu .mat-menu-item {
  padding: 8px 16px !important;
  margin: 0 !important;
   min-height: 34px !important;
}
::ng-deep .mat-menu-panel {
  min-height: 34px !important;
}

.span-babdge{
    background: #ECEDFF;
    border: 1px solid #2B2A35;
    width: 30px;
    border-radius: 11px;
    height: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #2B2A35;
    font-family: var(--font-primary) !important;
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 10px !important;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}
.span-babdge:hover{
    text-transform: none !important;
    color: #2B2A35 !important;
    text-decoration:none !important;
    font-weight: 500 !important;
}

.save-filter{
    font-family: var(--font-primary);
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #464BA8;
    padding: 10px;
    cursor: pointer;
    text-decoration: none !important;
}

.filter-main{
    display: flex;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 4px 0px #00000026;
    background: var(--White, #FFFFFF);
    width: 190px;
    height: 55px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    justify-content: space-between;
    align-items: center;
    border-left: 6px solid #464BA8;
    padding: 0px 0 0px 5px;
    .filter-content{
        padding-left: 4px !important;
         max-width: 130px;
         cursor: pointer;
        .filter-title{
            font-family: var(--font-primary) !important;
            font-weight: 400 !important;
            font-style: Regular !important;
            font-size: 14px !important;
            leading-trim: NONE !important;
            line-height: 100% !important;
            letter-spacing: 0% !important;
            vertical-align: middle !important;
            color: #2B2A35 !important;
            margin-bottom: 3px !important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 110px; // adjust based on layout
            display: block;
        }
        .filter-date{
            font-family: var(--font-primary) !important;
            font-weight: 400 !important;
            font-style: Regular !important;
            font-size: 12px !important;
            leading-trim: NONE !important;
            line-height: 100% !important;
            letter-spacing: 0% !important;
            vertical-align: middle !important;
            color:#9A9A9A  !important;
        }
    }


    svg{
        path {
            stroke: #464BA8 !important;
        }
    }
}

.active-hover{
    background-color: #464BA8 !important;

    .filter-content{
       
        .filter-title{
            color: #fff !important;
        }
        .filter-date{
            color:#fff  !important;
        }
    }

    svg{
        path {
            stroke: #FFFF !important;
        }
    } 
}
.filter-main:hover{
    background-color: #464BA8 !important;

    .filter-content{
       
        .filter-title{
            color: #fff !important;
        }
        .filter-date{
            color:#fff  !important;
        }
    }

    svg{
        path {
            stroke: #FFFF !important;
        }
    }
}

.save-filter.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
.no-filter{
    font-family: var(--font-primary) !important;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #9A9A9A;
    p{
            font-family: var(--font-primary) !important;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #9A9A9A;
    width: 100% !important;
    }
}
// #addNewColumnPopup{
//     z-index: 99999 !important;
// }
// #filterForm{
//      z-index: 9999!important;
// }

.padding-checkbox{
    padding: 15px 15px 15px 16px;
}
.filter-body{
    padding: 50px 50px 10px !important;
}
.bg-trans{
    background-color: transparent !important;
}
.student{
     font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    font-style: Regular;
    font-size: 10px !important;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center !important;
    vertical-align: middle;
    color:#2B2A35 !important;
    background: #ECEDFF !important;
    border-radius: 53px !important;
    padding: 5px 15px !important;
}

// ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before{
//     top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
// }
// ::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after{
//      top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
// }
::ng-deep .mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::after {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}

::ng-deep .mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}

  ::ng-deep .aligment.mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::after {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}

::ng-deep .aligment.mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}

.aligment.mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::after {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}

.aligment.mat-horizontal-stepper-label-position-bottom .mat-horizontal-stepper-header::before {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}


.aligment.mat-horizontal-stepper-label-position-bottom
  .mat-horizontal-stepper-header::after,
.aligment.mat-horizontal-stepper-label-position-bottom
  .mat-horizontal-stepper-header::before {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}


.aligment
  .mat-horizontal-stepper-header::after,
.aligment
  .mat-horizontal-stepper-header::before {
  top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 12px) !important;
}
