<mat-horizontal-stepper class="import_add_student_steps" [linear]="false" labelPosition="bottom" #stepper>
    <mat-step>
        <ng-template matStepLabel>Import Via Excel</ng-template>
        <section class="inner_module_section_placement">
            <div class="place_inner_title">
                <h4>Please use this excel format for a seamless upload.</h4>
                <p>You may download our template to import the list.</p>
            </div>
            <div class="cards">
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource" matSort class="ch_table">
                          
                        <!-- Company Name Column -->
                        <ng-container matColumnDef="company_name" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mod_groups">
                                    <div class="avatar">
                                        <img *ngIf="row?.image" [src]="row?.image" alt="woolworths">
                                    </div>
                                    <span>{{row.company_name}}</span>
                                    <!-- routerLink="/admin/wil/view-company-details" -->
                                </div>
                                <!-- <div class="profile">
                                   <img src="../../../../assets/img/woolworths.svg" alt="logo">
                                </div>  -->
                            </td>
                        </ng-container>
                        <!-- Company Code Column -->
                        <ng-container matColumnDef="company_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Code </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.company_code}}
                            </td>
                        </ng-container>
                        <!-- Location Column -->
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.location}}
                            </td>
                        </ng-container>
                        <!-- ABN/ACN Column -->
                        <ng-container matColumnDef="abn_acn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ABN/ACN </th>
                            <td mat-cell *matCellDef="let row"> {{row.abn_acn}} </td>
                        </ng-container>
                        <!-- No. of Employees Column -->
                        <ng-container matColumnDef="no_of_employees">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Employees </th>
                            <td mat-cell *matCellDef="let row"> {{row.no_of_employees}} </td>
                        </ng-container>
            
                        <!-- Vacancies Group column -->
                        <!-- <ng-container matColumnDef="vacancies">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vacancies </th>
                            <td mat-cell *matCellDef="let row">
                                <input type="number" (wheel)="$event.preventDefault()"  (keydown.arrowup)="$event.preventDefault()"  (keydown.arrowdown)="$event.preventDefault()"  value="20" class="input_small_number_table">
                            </td>
                        </ng-container> -->
                        <!-- Company Phone Column -->
                        <ng-container matColumnDef="company_phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Phone </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.company_phone}}
                            </td>
                        </ng-container>
                        <!-- Site Status column -->
                        <ng-container matColumnDef="site_status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Status </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-select class="custom_dorp_select default" [(ngModel)]="row.site_status">
                                    <mat-option value="Select">Select</mat-option>
                                    <mat-option value="Active">Active</mat-option>
                                    <mat-option value="Inactive">Inactive</mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <!-- Web AddressColumn -->
                        <ng-container matColumnDef="web_address">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Web Address </th>
                            <td mat-cell *matCellDef="let row">
                               {{row.web_address}}
                            </td>
                        </ng-container>
                        <!-- Lead Source column -->
                        <ng-container matColumnDef="lead_source">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Source </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-select class="custom_dorp_select default" [(ngModel)]="row.lead_source">
                                    <mat-option value="Select">Select</mat-option>
                                    <!-- <mat-option value="Self Sourced">Self Sourced</mat-option>
                                    <mat-option value="Employment">Employment</mat-option>
                                    <mat-option value="BNI">BNI</mat-option>
                                    <mat-option value="Website">Website</mat-option>
                                    <mat-option value="Own Network">Own Network</mat-option>
                                    <mat-option value="Host Network">Host Network</mat-option>
                                    <mat-option value="Cold Calling">Cold Calling</mat-option> -->
                                     <mat-option value="Own Employment">Own Employment</mat-option>
                            <mat-option value="Provider Placed">Provider Placed</mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <!-- Conversion Status column -->
                        <ng-container matColumnDef="conversion_status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Conversion Status </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-select class="custom_dorp_select default" [(ngModel)]="row.conversion_status">
                                    <mat-option value="Select">Select</mat-option>
                                    <mat-option value="Converted">Converted</mat-option>
                                    <mat-option value="In Progress">In Progress</mat-option>
                                    <mat-option value="Dormant">Dormant</mat-option>
                                    <mat-option value="Dead Lead">Dead Lead</mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <!-- Created By Column -->
                        <ng-container matColumnDef="created_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By </th>
                            <td mat-cell *matCellDef="let row">{{row.created_by}}
                                <!-- <button mat-icon-button data-toggle="modal"
                                    data-target="#changeOwner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8" cy="8" r="8" fill="#F8F8F8" />
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M9.47847 4.66666C9.69671 4.66666 9.90592 4.7538 10.0587 4.9078L11.0924 5.94143C11.2462 6.09532 11.3327 6.30405 11.3327 6.52168C11.3327 6.73932 11.2462 6.94804 11.0924 7.10194L7.31852 10.8746C7.08569 11.1432 6.75565 11.3082 6.37755 11.3341H4.66602V11.0008L4.6671 9.59576C4.6955 9.24427 4.8589 8.91743 5.10818 8.6978L8.89781 4.9082C9.05148 4.7536 9.26047 4.66666 9.47847 4.66666ZM6.35401 10.6683C6.53208 10.6557 6.69784 10.5728 6.83095 10.4205L9.35158 7.8999L8.10012 6.64839L5.56472 9.18319C5.42967 9.30263 5.34612 9.46973 5.33268 9.6226V10.6676L6.35401 10.6683ZM8.57158 6.17704L9.82299 7.42849L10.6209 6.63053C10.6498 6.60166 10.666 6.56251 10.666 6.52168C10.666 6.48086 10.6498 6.4417 10.6209 6.41284L9.58639 5.37828C9.55785 5.34951 9.51899 5.33332 9.47847 5.33332C9.43794 5.33332 9.39909 5.34951 9.37054 5.37828L8.57158 6.17704Z"
                                            fill="#2B2A35" />
                                    </svg></button> -->
                            </td>
                        </ng-container>
                        <!--  Date Created Column -->
                        <ng-container matColumnDef="date_created">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created</th>
                            <td mat-cell *matCellDef="let row">
                                {{row.date_created}}
                            </td>
                        </ng-container>
                        <!-- Last Updated  By Column -->
                        <ng-container matColumnDef="last_updated_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.last_updated_by}}
            
                            </td>
                        </ng-container>
                        <!-- Last Updated Column -->
                        <ng-container matColumnDef="last_updated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
                            <td mat-cell *matCellDef="let row">{{row.last_updated}}
            
                            </td>
                        </ng-container>
                        <!-- LAST HCAAF date Column -->
                        <ng-container matColumnDef="last_hcaaf_update">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last HCAAF Date</th>
                            <td mat-cell *matCellDef="let row">{{row.last_hcaaf_update}}
            
                            </td>
                        </ng-container>
                        <!-- HCAAF Expiry Column -->
                        <ng-container matColumnDef="hcaaf_expiry">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>HCAAF Expiry</th>
                            <td mat-cell *matCellDef="let row">{{row.hcaaf_expiry}}
            
                            </td>
                        </ng-container>
                        <!-- Students Placed Column -->
                        <ng-container matColumnDef="student_placed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Students Placed </th>
                            <td mat-cell *matCellDef="let row"> {{row.student_placed}} </td>
                        </ng-container>
                        <!-- Simulation Groups Column -->
                        <ng-container matColumnDef="placement_groups">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Simulation Groups </th>
                            <td mat-cell *matCellDef="let row"> {{row.placement_groups}} <button mat-icon-button data-toggle="modal"
                                    data-target="#viewPlacement"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="10" cy="10" r="10" fill="#F8F8F8" />
                                        <path
                                            d="M5 9.58333C5 9.58333 6.81818 6.25 10 6.25C13.1818 6.25 15 9.58333 15 9.58333C15 9.58333 13.1818 12.9167 10 12.9167C6.81818 12.9167 5 9.58333 5 9.58333Z"
                                            stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        <path
                                            d="M9.9984 10.8359C10.7515 10.8359 11.362 10.2763 11.362 9.58594C11.362 8.89558 10.7515 8.33594 9.9984 8.33594C9.24529 8.33594 8.63477 8.89558 8.63477 9.58594C8.63477 10.2763 9.24529 10.8359 9.9984 10.8359Z"
                                            stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
            
                                </button></td>
                        </ng-container>
                        <!-- Contact 1 Name Column -->
                        <ng-container matColumnDef="contact_01_first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 First Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_first_name}} </td>
                        </ng-container>
                        <!-- Contact 1 Last Name Column -->
                        <ng-container matColumnDef="contact_01_last_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Last Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_last_name}} </td>
                        </ng-container>
                        <!-- Contact 1 Title Column -->
                        <ng-container matColumnDef="contact_01_title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Title </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_title}} </td>
                        </ng-container>
                        <!-- Contact 1  Primary Email Column -->
                        <ng-container matColumnDef="contact_01_primary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 1 Primary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_primary_email}} </td>
                        </ng-container>
                        <!-- Contact 1  Secondary Email Column -->
                        <ng-container matColumnDef="contact_01_secondary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 1 Secondary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_secondary_email}} </td>
                        </ng-container>
                        <!-- Contact 1  Primary  Phone Column -->
                        <ng-container matColumnDef="contact_01_primary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 1 Primary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_primary_phone}} </td>
                        </ng-container>
                        <!-- Contact 1  Secondary  Phone Column -->
                        <ng-container matColumnDef="contact_01_secondary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 1 Secondary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_secondary_phone}} </td>
                        </ng-container>
                        <!-- contact 1 created By Column -->
                        <ng-container matColumnDef="contact_01_created_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 1 Created By </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_created_by}}
            
                            </td>
                        </ng-container>
                        <!-- contact 1 Created Date Column -->
                        <ng-container matColumnDef="contact_01_created_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 1 Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.contact_01_created_date}}
                            </td>
                        </ng-container>
                        <!-- Contact 1  Updated  By Column -->
                        <ng-container matColumnDef="contact_01_updated_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 1 Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_updated_by}}
            
                            </td>
                        </ng-container>
                        <!-- Contact 1 Last Updated Column -->
                        <ng-container matColumnDef="contact_01_last_updated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_01_last_updated}}
            
                            </td>
                        </ng-container>
                         <!-- Contact 2 Name Column -->
                         <ng-container matColumnDef="contact_02_first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 First Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_first_name}} </td>
                        </ng-container>
                        <!-- Contact 2 Last Name Column -->
                        <ng-container matColumnDef="contact_02_last_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Last Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_last_name}} </td>
                        </ng-container>
                        <!-- Contact 2 Title Column -->
                        <ng-container matColumnDef="contact_02_title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Title </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_title}} </td>
                        </ng-container>
                        <!-- Contact 2  Primary Email Column -->
                        <ng-container matColumnDef="contact_02_primary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 2 Primary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_primary_email}} </td>
                        </ng-container>
                        <!-- Contact 2  Secondary Email Column -->
                        <ng-container matColumnDef="contact_02_secondary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 2 Secondary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_secondary_email}} </td>
                        </ng-container>
                        <!-- Contact 2  Primary  Phone Column -->
                        <ng-container matColumnDef="contact_02_primary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 2 Primary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_primary_phone}} </td>
                        </ng-container>
                        <!-- Contact 2  Secondary  Phone Column -->
                        <ng-container matColumnDef="contact_02_secondary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 2 Secondary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_secondary_phone}} </td>
                        </ng-container>
                        <!-- contact 2 created By Column -->
                        <ng-container matColumnDef="contact_02_created_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 2 Created By </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_created_by}}
            
                            </td>
                        </ng-container>
                        <!-- contact 2 Created Date Column -->
                        <ng-container matColumnDef="contact_02_created_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 2 Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.contact_02_created_date}}
                            </td>
                        </ng-container>
                        <!-- Contact 2  Updated  By Column -->
                        <ng-container matColumnDef="contact_02_updated_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 2 Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_updated_by}}
            
                            </td>
                        </ng-container>
                        <!-- Contact 2 Last Updated Column -->
                        <ng-container matColumnDef="contact_02_last_updated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_02_last_updated}}
            
                            </td>
                        </ng-container>
                        <!-- Contact 3 Name Column -->
                         <ng-container matColumnDef="contact_03_first_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 First Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_03_first_name}} </td>
                        </ng-container>
                        <!-- Contact 3 Last Name Column -->
                        <ng-container matColumnDef="contact_03_last_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 Last Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_03_last_name}} </td>
                        </ng-container>
                        <!-- Contact 3 Title Column -->
                        <ng-container matColumnDef="contact_03_title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 Title </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_title}} </td>
                        </ng-container>
                        <!-- Contact 3  Primary Email Column -->
                        <ng-container matColumnDef="contact_03_primary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 3 Primary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_primary_email}} </td>
                        </ng-container>
                        <!-- Contact 3  Secondary Email Column -->
                        <ng-container matColumnDef="contact_03_secondary_email">
                            <th mat-header-cell *matHeaderCellDef> Contact 3 Secondary Email </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_secondary_email}} </td>
                        </ng-container>
                        <!-- Contact 3  Primary  Phone Column -->
                        <ng-container matColumnDef="contact_03_primary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 3 Primary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_primary_phone}} </td>
                        </ng-container>
                        <!-- Contact 3  Secondary  Phone Column -->
                        <ng-container matColumnDef="contact_03_secondary_phone">
                            <th mat-header-cell *matHeaderCellDef> Contact 3 Secondary Phone </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_secondary_phone}} </td>
                        </ng-container>
                        <!-- contact 3 created By Column -->
                        <ng-container matColumnDef="contact_03_created_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 3 Created By </th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_created_by}}
            
                            </td>
                        </ng-container>
                        <!-- contact 3 Created Date Column -->
                        <ng-container matColumnDef="contact_03_created_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 3 Created Date </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.contact_03_created_date}}
                            </td>
                        </ng-container>
                        <!-- Contact 3  Updated  By Column -->
                        <ng-container matColumnDef="contact_03_updated_by">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact 3 Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_updated_by}}
            
                            </td>
                        </ng-container>
                        <!-- Contact 3 Last Updated Column -->
                        <ng-container matColumnDef="contact_03_last_updated">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated By</th>
                            <td mat-cell *matCellDef="let row">{{row.contact_03_last_updated}}
            
                            </td>
                        </ng-container>
                        <!-- WHS Check column -->
                        <ng-container matColumnDef="whs_check">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> WHS Check </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-select class="custom_dorp_select default" [(ngModel)]="row.whs_check">
                                    <mat-option value="Select" disabled>Select</mat-option>
                                    <mat-option value="YES">Yes</mat-option>
                                    <mat-option value="No">No</mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <!-- Site Consent to use Logo column -->
                        <ng-container matColumnDef="company_concent_to_use_logo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Consent to use Logo </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-select class="custom_dorp_select default" [(ngModel)]="row.company_concent_to_use_logo">
                                    <mat-option value="Select">Select</mat-option>
                                    <mat-option value="YES">Yes</mat-option>
                                    <mat-option value="No">No</mat-option>
                                </mat-select>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                </div>
            </div>
            <div class="place_footer_btn">
                <div class="row">
                    <div class="col-md-4 col-sm-6 text-md-left text-center">
                        <button mat-button class="theme_btn btn_outline_primary" (click)="returnBack()">
                            Return to Partners</button>
                    </div>

                    <div class="col-md-4 col-sm-6 text-center">
                        <button mat-button class="theme_btn btn_primary" (click)="downloadPartnerTemplate()">
                            Download Template</button>
                    </div>
                    <div class="col-md-4 col-sm-12 text-md-right text-center">
                        <button mat-button class="theme_btn btn_primary" matStepperNext>
                            Next</button>
                    </div>
                </div>
            </div>
        </section>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Uploading</ng-template>
        <section class="inner_module_section_placement">
            <div class="place_inner_title">
                <h4>Next, start uploading to import the Partner list</h4>
            </div>
            <div class="file_upload" matRipple>
                <p><strong>Drag file here or <span>browse</span> </strong><br>
                    Accepted file types: (.csv), <br>
                    4MB file size limit.
                </p>
                <label class="file_upload_label" for="image"></label>
                <input name="img" type="file" id="image" accept=".csv" (change)="getFile($event)">
            </div>
            <div *ngIf="fileName" class="form-group text-center">
                <label>{{fileName}} </label>
                <!-- <button data-target="#errorModalImporting"
                data-toggle="modal">Error Popup</button> -->
            </div>
            <div class="place_footer_btn">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6 text-md-left text-center">
                        <button mat-button matStepperPrevious class="theme_btn btn_outline_primary">
                            Back</button>
                    </div>

                    <div class="col-md-4 col-sm-12 text-md-right text-center">
                        <button [disabled]="!fileName" mat-button class="theme_btn btn_primary" matStepperNext (click)="getUploadedPartnerList()">
                            Next</button>
                    </div>
                </div>
            </div>
        </section>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Uploading Done</ng-template>
        <section class="inner_module_section_placement">
            <div class="place_inner_title">
                <h4>Almost done! Review the outcome of the Companies List</h4>
            </div>
            <div class="cards">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table mat-table [dataSource]="companiesList" matSort class="ch_table">
                            <ng-container matColumnDef="company_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
                                <td mat-cell *matCellDef="let row">
                                    <div class="mod_groups pl-0">
                                        <div class="avatar">
                                            <img *ngIf="row?.company_logo" [src]="row?.company_logo" alt="woolworths">
                                            <div class="profile" *ngIf="!row?.company_logo">
                                                <span style="color: #fff">{{ row?.company_name ? row?.company_name?.split(' ')[0][0]
                                                    : '' }} {{row?.company_name ? row?.company_name?.split(' ')[0][1] : '' }}</span>
                                            </div>
                                        </div>
                                        <span (click)="goToCompanyProfile(row)">{{row.company_name}}</span>
                                    </div>
                                    <!-- <div class="profile">
                                <img src="../../../../assets/img/woolworths.svg" alt="logo">
                                </div>  -->
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="address">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.address}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="suburb">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Suburb </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.suburb}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="state">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>State </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.state}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="postal_code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Postcode </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.postal_code}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="campus">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.campus}}
                                </td>
                            </ng-container>
                            <!-- ABN/ACN Column -->
                            <ng-container matColumnDef="abn_acn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ABN/ACN </th>
                                <td mat-cell *matCellDef="let row"> {{row.abn_acn}} </td>
                            </ng-container>
                            <!-- No. of Employees Column -->
                            <ng-container matColumnDef="no_of_employees">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Employees </th>
                                <td mat-cell *matCellDef="let row"> {{row.no_of_employees}} </td>
                            </ng-container>
                            <ng-container matColumnDef="company_phone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Phone </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.company_phone}}
                                </td>
                            </ng-container>
                           
                            <!-- Lead Source column -->
                            <ng-container matColumnDef="lead_source">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lead Source </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-select class="custom_dorp_select default" [(ngModel)]="row.lead_source">
                                        <mat-option value="Select">Select</mat-option>
                                        <!-- <mat-option value="Self Sourced">Self Sourced</mat-option>
                                        <mat-option value="Employment">Employment</mat-option>
                                        <mat-option value="BNI">BNI</mat-option>
                                        <mat-option value="Website">Website</mat-option>
                                        <mat-option value="Own Network">Own Network</mat-option>
                                        <mat-option value="Host Network">Host Network</mat-option>
                                        <mat-option value="Cold Calling">Cold Calling</mat-option> -->
                                         <mat-option value="Own Employment">Own Employment</mat-option>
                                         <mat-option value="Provider Placed">Provider Placed</mat-option>
                                    </mat-select>
                                </td>
                            </ng-container>
                            <!-- Conversion Status column -->
                            <ng-container matColumnDef="conversion_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Conversion Status </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-select class="custom_dorp_select default" [(ngModel)]="row.conversion_status">
                                        <mat-option value="Select">Select</mat-option>
                                        <mat-option value="Converted">Converted</mat-option>
                                        <mat-option value="In Progress">In Progress</mat-option>
                                        <mat-option value="Dormant">Dormant</mat-option>
                                        <mat-option value="Dead Lead">Dead Lead</mat-option>
                                    </mat-select>
                                </td>
                            </ng-container>
                            <!-- Created By Column -->
                            <ng-container matColumnDef="created_by">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>owned By </th>
                                <td mat-cell *matCellDef="let row">{{row.created_by}}
                                    <!-- <button mat-icon-button data-toggle="modal"
                                        data-target="#changeOwner">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="8" cy="8" r="8" fill="#F8F8F8" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M9.47847 4.66666C9.69671 4.66666 9.90592 4.7538 10.0587 4.9078L11.0924 5.94143C11.2462 6.09532 11.3327 6.30405 11.3327 6.52168C11.3327 6.73932 11.2462 6.94804 11.0924 7.10194L7.31852 10.8746C7.08569 11.1432 6.75565 11.3082 6.37755 11.3341H4.66602V11.0008L4.6671 9.59576C4.6955 9.24427 4.8589 8.91743 5.10818 8.6978L8.89781 4.9082C9.05148 4.7536 9.26047 4.66666 9.47847 4.66666ZM6.35401 10.6683C6.53208 10.6557 6.69784 10.5728 6.83095 10.4205L9.35158 7.8999L8.10012 6.64839L5.56472 9.18319C5.42967 9.30263 5.34612 9.46973 5.33268 9.6226V10.6676L6.35401 10.6683ZM8.57158 6.17704L9.82299 7.42849L10.6209 6.63053C10.6498 6.60166 10.666 6.56251 10.666 6.52168C10.666 6.48086 10.6498 6.4417 10.6209 6.41284L9.58639 5.37828C9.55785 5.34951 9.51899 5.33332 9.47847 5.33332C9.43794 5.33332 9.39909 5.34951 9.37054 5.37828L8.57158 6.17704Z"
                                                fill="#2B2A35" />
                                        </svg></button> -->
                                </td>
                            </ng-container>
                            <!-- Students Placed Column -->
                            <ng-container matColumnDef="student_placed">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Students Placed </th>
                                <td mat-cell *matCellDef="let row"> {{row.student_placed}} </td>
                            </ng-container>
                            <!-- Simulation Groups Column -->
                            <ng-container matColumnDef="placement_groups">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Simulation Groups </th>
                                <td mat-cell *matCellDef="let row"> {{row.placement_groups}} <button mat-icon-button data-toggle="modal"
                                        data-target="#viewPlacement"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="10" cy="10" r="10" fill="#F8F8F8" />
                                            <path
                                                d="M5 9.58333C5 9.58333 6.81818 6.25 10 6.25C13.1818 6.25 15 9.58333 15 9.58333C15 9.58333 13.1818 12.9167 10 12.9167C6.81818 12.9167 5 9.58333 5 9.58333Z"
                                                stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                            <path
                                                d="M9.9984 10.8359C10.7515 10.8359 11.362 10.2763 11.362 9.58594C11.362 8.89558 10.7515 8.33594 9.9984 8.33594C9.24529 8.33594 8.63477 8.89558 8.63477 9.58594C8.63477 10.2763 9.24529 10.8359 9.9984 10.8359Z"
                                                stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                
                                    </button></td>
                            </ng-container>
                            <!-- Contact 1 Name Column -->
                            <ng-container matColumnDef="contact_01_first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 First Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_01_first_name}} </td>
                            </ng-container>
                            <!-- Contact 1 Last Name Column -->
                            <ng-container matColumnDef="contact_01_last_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Last Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_01_last_name}} </td>
                            </ng-container>
                            <!-- Contact 1 Title Column -->
                            <ng-container matColumnDef="contact_01_title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Title </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_01_title}} </td>
                            </ng-container>
                            <!-- Contact 1  Primary Email Column -->
                            <ng-container matColumnDef="contact_01_primary_email">
                                <th mat-header-cell *matHeaderCellDef> Contact 1 Email </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_01_primary_email}} </td>
                            </ng-container>
                            <!-- Contact 1  Primary  Phone Column -->
                            <ng-container matColumnDef="contact_01_primary_phone">
                                <th mat-header-cell *matHeaderCellDef> Contact 1 Phone </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_01_primary_phone}} </td>
                            </ng-container>
                           
                             <!-- Contact 2 Name Column -->
                             <ng-container matColumnDef="contact_02_first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 First Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_02_first_name}} </td>
                            </ng-container>
                            <!-- Contact 2 Last Name Column -->
                            <ng-container matColumnDef="contact_02_last_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Last Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_02_last_name}} </td>
                            </ng-container>
                            <!-- Contact 2 Title Column -->
                            <ng-container matColumnDef="contact_02_title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Title </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_02_title}} </td>
                            </ng-container>
                            <!-- Contact 2  Primary Email Column -->
                            <ng-container matColumnDef="contact_02_primary_email">
                                <th mat-header-cell *matHeaderCellDef> Contact 2 Email </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_02_primary_email}} </td>
                            </ng-container>
                            <!-- Contact 2  Primary  Phone Column -->
                            <ng-container matColumnDef="contact_02_primary_phone">
                                <th mat-header-cell *matHeaderCellDef> Contact 2 Phone </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_02_primary_phone}} </td>
                            </ng-container>
                            
                            <!-- Contact 3 Name Column -->
                             <ng-container matColumnDef="contact_03_first_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 First Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_03_first_name}} </td>
                            </ng-container>
                            <!-- Contact 3 Last Name Column -->
                            <ng-container matColumnDef="contact_03_last_name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 Last Name </th>
                                <td mat-cell *matCellDef="let row"> {{row.contact_03_last_name}} </td>
                            </ng-container>
                            <!-- Contact 3 Title Column -->
                            <ng-container matColumnDef="contact_03_title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 3 Title </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_03_title}} </td>
                            </ng-container>
                            <!-- Contact 3  Primary Email Column -->
                            <ng-container matColumnDef="contact_03_primary_email">
                                <th mat-header-cell *matHeaderCellDef> Contact 3 Email </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_03_primary_email}} </td>
                            </ng-container>
                            <!-- Contact 3  Primary  Phone Column -->
                            <ng-container matColumnDef="contact_03_primary_phone">
                                <th mat-header-cell *matHeaderCellDef> Contact 3 Phone </th>
                                <td mat-cell *matCellDef="let row">{{row.contact_03_primary_phone}} </td>
                            </ng-container>
                        
                          
                            <!-- WHS Check column -->
                            <ng-container matColumnDef="whs_check">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> WHS Check </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-select class="custom_dorp_select default" [(ngModel)]="row.whs_check">
                                        <mat-option value="Select" disabled>Select</mat-option>
                                        <mat-option value="YES">Yes</mat-option>
                                        <mat-option value="No">No</mat-option>
                                    </mat-select>
                                </td>
                            </ng-container>
                            <!-- Site Consent to use Logo column -->
                            <ng-container matColumnDef="company_concent_to_use_logo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Consent to use Logo </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-select class="custom_dorp_select default" [(ngModel)]="row.company_concent_to_use_logo">
                                        <mat-option value="Select">Select</mat-option>
                                        <mat-option value="YES">Yes</mat-option>
                                        <mat-option value="No">No</mat-option>
                                    </mat-select>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="eligiblePartnerListDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: eligiblePartnerListDisplayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="place_footer_btn">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-sm-6 text-md-left text-center">
                        <button mat-button matStepperPrevious class="theme_btn btn_outline_primary">
                            Re-upload</button>
                    </div>

                    <div class="col-md-4 col-sm-12 text-md-right text-center">
                        <button mat-button class="theme_btn btn_primary" matStepperNext (click)="confirm()">
                            Confirm</button>
                    </div>
                </div>
            </div>
        </section>
        </mat-step>
</mat-horizontal-stepper>

<div class="modal fade bsModal ch_modal importing_data_error_modal" id="errorModalImporting" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pt-4 text-center justify-content-center">
                <button type="button" mat-icon-button id="closeModal" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../../../assets/img/undraw_warning.svg" alt="undraw_warning">
                    </div>
                    <div class="col-md-12 text-center">
                        <h2 class="modal-title">We've detected that the uploaded sheet doesn't match our data columns. Please review the contents and ensure alignment with our template.</h2>
                        <p> Alternatively, you can download the template to ensure compatibility. <br>
                            If you need further assistance, feel free to reach out to our support team.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button mat-button class="theme_btn btn_primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>