<section class="home-header-sec">
	<div class="container">
	    <div class="row">
	      <div class="col-md-12">
	      	<div class="card">
	      		<div class="manage-home-header">
	      			<div class="card-header d-flex justify-content-between">
	      				<strong>Register Now Section</strong>
	      				<div class="slide-cs">
	      					<span class="mr-2">Visibility </span>
	      					<mat-slide-toggle></mat-slide-toggle>
	      				</div>
	      			</div>
	      			<div class="card-body">
	      				<form>
	      					<div class="grad-body">
	      						<div class="home-mng-form">
			      					<div class="form-group">
										<label>Text</label>
										<input type="text" name="" class="form-control" value="What are you waiting for?">
									</div>
									<div class="form-group">
										<label>Heading</label>
										<input type="text" name="" class="form-control" value="Let’s start your journey!">
									</div>
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control" rows="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui risus rhoncu.</textarea>
									</div>
									<div class="form-group">
										<label>Graduate Image</label>
										<div class="register-tday">
											<div class="upld-body">
												<div class="prev-upld-img  mb-3">
													<img src="assets/img/empp.png" class="img-fluid">
													<div class="upload-imag text-center">
														<button class="btn-primary btn mt-3 position-relative">
															<input type="file" name="" class="img-input-upld">
														Upload Image
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
			      				</div>
	      					</div>
		      			</form>
	      			</div>
		      	</div>
	      	</div>
	      </div>
	  	</div>
	</div>
</section>