.vacancy_search_container {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-left: auto;

    .form-group {
        flex-grow: 1;
    }

    .create_vacancy_btn.theme_btn {
        width: 166px;
        height: 50px !important;
        padding: 0px 10px !important;
    }
}

.form-group.rounded_search .theme_btn.btn_primary {
    height: 40px !important;
    width: 60px !important;
}

.form-group.rounded_search input.form-control {
    height: 50px !important;
}

.selected-item {
    border: 1px solid #464ba9;
}

.m-t-2{
    margin-top: 2rem !important;
}
.text-black{
    color: #111 !important;
}
.permissions_List {
    .permissions_list_head {
        background-color: #F6F6FB;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        color: var(--primary-color-first);
        height: 60px;
        align-items: center;
        margin-bottom: 30px;
    }

    .permissions_list_card {
        box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(70, 75, 168, 0.5);
        border-radius: 10px;
        margin-bottom: 22px;
        overflow: hidden;

        .row {
            align-items: center;
            padding: 10px 0px;
            font-size: 16px;
            font-family: var(--font-primary);
            font-weight: 500;
            line-height: 21px;
            color: #000;
            height: 70px;

            // &:nth-child(even) {
            //     background: rgba(248, 248, 248, 1);
            //   }
            .toggle_btn {
                margin-right: 15px;

                &.show {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .heading {
        font-size: 20px;
        padding: 14px 0px;
        line-height: 2;
    }
}