<div class="page_header">
    <div class=" page_header_container">
        <div>
            <h4>Manage Agent</h4>
        </div>
    </div>
</div>
<section>
        <div class="card_header">
            <div class="card_container  justify-content-between">
                <div class="d-flex flex-column">
                    <div  class="d-flex gap-5">
                        <!-- total -->
                         <div class="student_card" *ngIf="selectedIndex==0">
                            <div class="content">
                                <p>Total Agents</p>
                                <h4>{{ activeAgents }}</h4>
                            </div>
                            <div class="">
                                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="27" cy="27" r="27" fill="#464BA8"/>
                                <path d="M37.668 20.334H16.3346C14.8619 20.334 13.668 21.5279 13.668 23.0007V36.334C13.668 37.8067 14.8619 39.0007 16.3346 39.0007H37.668C39.1407 39.0007 40.3346 37.8067 40.3346 36.334V23.0007C40.3346 21.5279 39.1407 20.334 37.668 20.334Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M32.3346 39V17.6667C32.3346 16.9594 32.0537 16.2811 31.5536 15.781C31.0535 15.281 30.3752 15 29.668 15H24.3346C23.6274 15 22.9491 15.281 22.449 15.781C21.9489 16.2811 21.668 16.9594 21.668 17.6667V39" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                
                            </div>
                        </div>
<!--  -->
                        <div class="student_card clickable total"  *ngIf="selectedIndex==0">
                            <div class="content">
                                <p>Archived Agents</p>
                                <h4>{{ archivedAgentsCount }}</h4>
                            </div>
                            <div class="">
                               <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="27" cy="27" r="27" fill="#26C296"/>
                                <path d="M32.332 16.334H34.9987C35.7059 16.334 36.3842 16.6149 36.8843 17.115C37.3844 17.6151 37.6654 18.2934 37.6654 19.0007V37.6673C37.6654 38.3746 37.3844 39.0528 36.8843 39.5529C36.3842 40.053 35.7059 40.334 34.9987 40.334H18.9987C18.2915 40.334 17.6132 40.053 17.1131 39.5529C16.613 39.0528 16.332 38.3746 16.332 37.6673V19.0007C16.332 18.2934 16.613 17.6151 17.1131 17.115C17.6132 16.6149 18.2915 16.334 18.9987 16.334H21.6654" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M31.0013 13.666H23.0013C22.2649 13.666 21.668 14.263 21.668 14.9993V17.666C21.668 18.4024 22.2649 18.9993 23.0013 18.9993H31.0013C31.7377 18.9993 32.3346 18.4024 32.3346 17.666V14.9993C32.3346 14.263 31.7377 13.666 31.0013 13.666Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                            </div>
                            <div class="action">
                                <button  (click)="openArchivedAgents()" mat-button class="theme_btn btn_primary">View Archived Agents</button>
                            </div>
                        </div>

                        <div class="student_card"  *ngIf="selectedIndex==1">
                            <div class="content">
                                <p>Total Knowledge Bases</p>
                                <h4>{{ activeKBCount }}</h4>
                            </div>
                            <div class="">
                               <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="27" cy="27" r="27" fill="#F2C94C"/>
                                <path d="M27 17.667L27 36.3337" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M36.334 27L27.0007 36.3333L17.6673 27" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>

                            </div>
                            <!-- <div class="action">
                                <button mat-button class="theme_btn btn_primary">View Students</button>
                            </div> -->
                        </div>
                         <div class="student_card clickable total"  *ngIf="selectedIndex==1">
                            <div class="content">
                                <p>Archived Knowledge Bases</p>
                                <h4>{{ archivedKBCount }}</h4>
                            </div>
                            <div class="">
                               <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="27" cy="27" r="27" fill="#F47761"/>
                                <path d="M27 17.667L27 36.3337" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M36.334 27L27.0007 36.3333L17.6673 27" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>


                            </div>
                             <div class="action">
                                <button  (click)="openArchivedKB()" mat-button class="theme_btn btn_primary">View Archived Knowledge Bases</button>
                            </div>
                        </div>
                    </div>
                </div>

             
                <div class="d-flex gap-3" *ngIf="selectedIndex==0">
                    <button mat-button class="theme_btn btn_primary" [routerLink]="['/admin/system/add-agent']">+ Create Agent</button>
                </div>
                  <div class="d-flex gap-3" *ngIf="selectedIndex==1">
                    <button mat-button class="theme_btn btn_primary" [routerLink]="['/admin/system/add-knowledge-base']">+ Create Knowledge Base</button>
                </div>
            </div>
        </div>



            <!-- Active view -->
            <div class="tab-wrapper" *ngIf="!showArchivedAgents && !showArchivedKB">
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)" animationDuration="0ms" class="mat_tab_bordred" >
                    <mat-tab>
                        <ng-template mat-tab-label>Agents</ng-template>
                         <div class="empty-state flex-column" *ngIf="!reviewers.length" style="max-width: 100% !important;">
                            <h2 class="m-0">
                                You currently have no AI Agents
                            </h2>
                            <p>
                                Get started by creating your first AI Agent above!
                             </p>   
                         </div>

                        <div class="container" *ngIf="reviewers.length>0" style="max-width: 100% !important;">
                            <div class="card" *ngFor="let reviewer of reviewers">

                                <div class="image-wrapper">
                                    <img *ngIf="reviewer.image_url" [src]="reviewer.image_url" [alt]="reviewer.name" />
                                    <div *ngIf="!reviewer.image_url" class="default-avatar">
                                       <svg width="240" height="250" viewBox="0 0 240 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="240" height="250" rx="25" fill="#464BA8"/>
                                        <path d="M240 124.799C240 156.952 227.332 186.147 206.716 207.664C184.91 230.426 154.21 244.598 120.201 244.598C86.192 244.598 55.4919 230.426 33.6864 207.664C13.0701 186.147 0.402344 156.952 0.402344 124.799C0.402344 58.6365 54.0388 5 120.201 5C186.364 5 240 58.6365 240 124.799Z" fill="#464BA8"/>
                                        <path d="M120.201 131.228C147.23 131.228 169.142 109.316 169.142 82.2867C169.142 55.2573 147.23 33.3457 120.201 33.3457C93.1714 33.3457 71.2598 55.2573 71.2598 82.2867C71.2598 109.316 93.1714 131.228 120.201 131.228Z" fill="white"/>
                                        <path d="M202.657 197.76C201.698 198.844 200.715 199.912 199.712 200.956C179.673 221.876 151.457 234.899 120.2 234.899C88.9443 234.899 60.7281 221.876 40.6892 200.956C39.6861 199.912 38.7034 198.844 37.7441 197.76C37.7441 177.413 44.8282 153.382 64.0749 140.763C72.7733 135.059 84.1146 135.471 92.5104 141.611C98.9559 146.325 107.274 149.251 120.2 149.251C133.127 149.251 141.445 146.325 147.891 141.611C156.286 135.471 167.628 135.059 176.326 140.763C195.573 153.382 202.657 177.413 202.657 197.76Z" fill="white"/>
                                        </svg>

                                    </div>
                                </div>

                                <div class="content">
                                <h3>{{ reviewer.name }}</h3>
                                <p class="role">{{ reviewer.title }}</p>

                                <div class="skills">
                                    <span class="skill" *ngFor="let tag of reviewer.tags">
                                    {{ tag }}
                                    </span>
                                </div>

                                <button class="edit-btn" (click)="editReviewer(reviewer)">
                                    Edit
                                </button>
                                </div>

                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>Knowledge Base</ng-template>

                        <!-- No Knowledge Bases exist -->
                        <div class="empty-state" *ngIf="!cards.length">
                            <div class="empty-state-content">
                                <h2>You currently have no Knowledge Bases</h2>
                                <p>Get started by creating your first Knowledge Base above!</p>
                            </div>
                        </div>

                        <!-- Search returned no results -->
                        <div class="empty-state" *ngIf="cards.length && !filteredCards.length">
                            <div class="empty-state-content">
                                <svg width="126" height="101" viewBox="0 0 126 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1899_48225)">
                                <path d="M95.371 100.166L11.656 100.196C7.45041 100.197 3.68314 98.008 1.57906 94.3402C0.526894 92.5061 0.000693685 90.4941 6.85071e-07 88.4817C-0.000692315 86.4695 0.52438 84.4569 1.57504 82.6223L43.4059 5.92095C45.5077 2.25144 49.2735 0.0600592 53.4791 0.0585945C57.6848 0.0571297 61.452 2.24588 63.5564 5.91393L105.445 82.5956C106.495 84.4249 107.02 86.4345 107.02 88.4457C107.02 90.4568 106.495 92.4692 105.444 94.304C103.342 97.9733 99.5766 100.165 95.371 100.166ZM1.0523 88.4803C1.05217 90.312 10.2898 86.365 11.2468 88.0334C13.1611 91.3702 7.82944 99.1393 11.6557 99.138C11.6557 99.138 102.623 97.1137 104.534 93.7756C105.49 92.1065 105.968 90.2754 105.967 88.4447C105.967 86.6141 105.488 84.7836 104.531 83.1152L62.6416 6.43349C60.7327 3.1062 57.3057 1.11485 53.4795 1.11619C49.655 1.11752 1.05245 86.6483 1.0523 88.4803Z" fill="#3F3D56"/>
                                <path d="M77.9031 83.2511C99.0694 83.2511 116.228 65.9683 116.228 44.649C116.228 23.3296 99.0694 6.04688 77.9031 6.04688C56.7368 6.04688 39.5781 23.3296 39.5781 44.649C39.5781 65.9683 56.7368 83.2511 77.9031 83.2511Z" fill="#464BA8"/>
                                <path d="M76.4827 53.0585L69.6851 23.465L75.0264 22.3325L80.6501 52.1749L76.4827 53.0585ZM81.0383 64.298C80.1383 64.4888 79.2902 64.3415 78.4941 63.8561C77.7289 63.3232 77.2522 62.6065 77.064 61.706C76.8758 60.8054 77.0293 59.9755 77.5244 59.2163C78.0587 58.4488 78.7759 57.9697 79.6759 57.7788C80.5759 57.588 81.4044 57.7395 82.1614 58.2332C82.9184 58.7269 83.391 59.4241 83.5792 60.3246C83.7674 61.2252 83.618 62.0746 83.131 62.873C82.6359 63.6322 81.9383 64.1072 81.0383 64.298Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1899_48225">
                                <rect width="126" height="101" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>

                                <h2>No valid search results found</h2>
                                <p>Try searching with different keywords!</p>
                            </div>
                        </div>

                        <!-- Knowledge Base cards -->
                        <div class="kb-container" *ngIf="filteredCards.length">
                            <div class="kb-card" *ngFor="let card of filteredCards">

                                <h3 class="kb-title">{{ card.name }}</h3>

                                <p class="kb-desc">
                                {{ card.description?.length > 180 ? (card.description | slice:0:180) + '...' : card.description }}
                                </p>

                                <div class="kb-skills">
                                <span class="kb-skill" *ngFor="let tag of card.tags">
                                    {{ tag }}
                                </span>
                                </div>

                                <div class="kb-footer">
                                <button class="edit-btn" (click)="edit(card)">Edit</button>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

                <!-- Search bar for Knowledge Base tab -->
                <div class="kb-search-bar" *ngIf="selectedIndex == 1">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z" stroke="#464BA8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.5 17.5L13.875 13.875" stroke="#464BA8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <input type="text" placeholder="Search Knowledge Base" [(ngModel)]="kbSearchText" (input)="onKBSearch()" />
                </div>
            </div>

            <!-- Archived Agents View -->
            <div *ngIf="showArchivedAgents" class="archived-view">
                <div class="back-link" (click)="backToActiveAgents()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8337 10H4.16699" stroke="#464BA8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.0003 15.8337L4.16699 10.0003L10.0003 4.16699" stroke="#464BA8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Back to Active Agents</span>
                </div>

                <div class="container">
                    <div class="card" *ngFor="let reviewer of archivedReviewers">
                        <div class="image-wrapper">
                            <img *ngIf="reviewer.image_url" [src]="reviewer.image_url" [alt]="reviewer.name" />
                            <div *ngIf="!reviewer.image_url" class="default-avatar">
                                <svg viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="100" cy="75" r="35" fill="white"/>
                                    <path d="M100 120C65 120 38 145 35 180H165C162 145 135 120 100 120Z" fill="white"/>
                                </svg>
                            </div>
                        </div>
                        <div class="content">
                            <h3>{{ reviewer.name }}</h3>
                            <p class="role">{{ reviewer.title }}</p>
                            <div class="skills">
                                <span class="skill" *ngFor="let tag of reviewer.tags">{{ tag }}</span>
                            </div>
                            <button class="edit-btn" (click)="editReviewer(reviewer)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Archived Knowledge Bases View -->
            <div *ngIf="showArchivedKB" class="archived-view">
                <div class="back-link" (click)="backToActiveKB()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8337 10H4.16699" stroke="#464BA8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.0003 15.8337L4.16699 10.0003L10.0003 4.16699" stroke="#464BA8" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Back to Active Knowledge Bases</span>
                </div>

                <div class="kb-container">
                    <div class="kb-card" *ngFor="let card of archivedCards">
                        <h3 class="kb-title">{{ card.name }}</h3>
                        <p class="kb-desc">{{ card.description?.length > 180 ? (card.description | slice:0:180) + '...' : card.description }}</p>
                        <div class="kb-skills mt-4">
                            <span class="kb-skill" *ngFor="let tag of card.tags">{{ tag }}</span>
                        </div>
                        <div class="kb-footer">
                            <button class="edit-btn" (click)="edit(card)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

</section>

