<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap" crossorigin="anonymous"
        rel="stylesheet">
    <title>CH Post Appointment</title>
</head>

<style>
   
    p{
        margin: 0px;
    }
</style>

<body style="
      width: 100%;
      font-family: 'DM Sans', sans-serif;
      height: 100%;
      background: #fff;
      margin: 0;
      padding: 0 0px;
      box-sizing: border-box;
      text-align: left;
      font-weight: 390;
    ">
    <table cellspacing="0" cellpadding="0" width="100%" style="
        padding: 0;
        border-collapse: collapse;
        margin: 0px auto;
        max-width: 536px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: #2F2E41;
      " border="0">
        <tbody>
            <tr style="padding: 8px 0px;">
                <td style="text-align: left;">
                    <img src="../../../../assets/img/email-img/IMC-logo.png" alt="imc" />
                </td>
                <td style="text-align: right;">
                    <img src="../../../../assets/img/email-img/ch-logo.png" alt="careerHive" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <table cellspacing="0" cellpadding="0" width="100%" style="
                background-color: #fff;
                border-radius: 5px;
                padding: 0;
                border-collapse: collapse;
                width: 100%;
              " border="0">
                        <tbody>
                            <tr>
                                <td style="
                                height: 81px;
                      padding: 0px 40px;
              background: #464BA8;
              border-radius: 5px 5px 0px 0px;
              text-align: center;
                    ">
                                    <p
                                        style=" color: #ffffff; font-weight: 700; font-size: 20px; line-height: 26px; margin: 0;">
                                        <span>How did your appointment go?
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td height="40"></td>
                            </tr>
                            <tr>
                                <td style="
                      padding: 0px 45px;">
                                    <p style="text-align: left; margin-bottom: 10px;">Hey [student name], <br> <br>
                                        Thank you for your appointment with [staff name]. We value your feedback and would like to hear about your experience and any insights you may have gained from the appointment. <br><br>

Your input is important to us, as it helps us improve our services and ensure that we are meeting the needs of our students effectively.  <br><br>
Simply click one of the stars below and rate how your meeting went.
                                    </p>
                                </td>
                            </tr>
                        
                            <tr>
                                <td height="30"></td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                    <a href="#" style="
                      background: #464BA8;
                      color: #fff;
                      border-radius: 20px;
                      display: inline-block;
                      width: 190.56px;
                      padding: 10px 0px;
                      font-size: 14px;
                      border: 0;
                      text-decoration: none;
                    ">
                                       Rate Now
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="40"></td>
                            </tr>   
                            <tr>
                                <td style="
                            padding: 0 45px;
                          ">Thank you for taking the time to provide us with your valuable feedback. We look forward to hearing from you again. <br><br> <br>
                                    Regards, <br>
                                    The Career Hive team
                                </td>
                            </tr>

                            <tr>
                                <td height="40"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr style="background: #fff;">
                <td colspan="2">
                    <table width="100%;" style="padding: 5px 10px 0;">
                        <tr>
                            <td style="text-align: left;">
                                <p style="font-size: 10px; margin: 0;">
                                    <a target="_blank" href="#"
                                        style="color: #464BA8; text-decoration: underline;">Copyright & Disclaimer</a>
                                    <span style=" color: #9A9A9A;">|</span>
                                    <a href="#" style="color: #464BA8; text-decoration: underline;">Terms &
                                        Conditions</a>
                                </p>
                            </td>
                            <td style="text-align: right;">
                                <a href="#"
                                    style="width: 25px; height: 25px; line-height: 25px; display: inline-flex;
                                    justify-content: center;
                                    align-items: center;"><img
                                        src="../../../../assets/img/email-img/insta-icon.png"></a>
                                <a href="#"
                                    style="width: 25px; height: 25px; line-height: 25px; display: inline-flex;
                                    justify-content: center;
                                    align-items: center; margin-left: 5px;"><img
                                        src="../../../../assets/img/email-img/fb-icon.png"></a>
                                <a href="#"
                                    style="width: 25px; height: 25px; line-height: 25px;display: inline-flex;
                                    justify-content: center;
                                    align-items: center; margin-left: 5px;"><img
                                        src="../../../../assets/img/email-img/linkedin-icon.png"></a>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="14"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; font-size: 10px; color: #9A9A9A; line-height: 13px;">
                    You are receiving this email as you have an active Career Hive account and have subscribed to
                    receive email notifications. If you do not wish to receive email communications, visit our <a
                        target="_blank" href="https://careerhive.com.au/contents/contact-us"
                        style="color: #464BA8; text-decoration: underline;">support page</a>. to send an enquiry.
                </td>
            </tr>
            <tr>
                <td height="30"></td>
            </tr>
        </tbody>
    </table>
</body>

</html>