<!-- <section class="edit-employer-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<strong>Change Password</strong>
					</div>
					<div class="card-body">

						<div class="edit-form mt-4">
							<form [formGroup]="changepwdform">
								<div class="edit-form-fields">
									<div class="row justify-content-center">
										<div class="col-md-8">

											<div class="form-group">
												<label>Current Password</label>
												<div class="pos-rltv">
													<input [type]="currentShowPassword ? 'text' : 'password'" name=""
														class="form-control" value="" formControlName="current_pwd">
													<a class="type-toggle pos-abs" (click)="currentToggleShow()">
														<mat-icon
															[hidden]="currentShowPassword">visibility_off</mat-icon>
														<mat-icon [hidden]="!currentShowPassword">visibility</mat-icon>
													</a>
													<div *ngIf="(changepwdform.controls.current_pwd?.touched || changepwdform.controls.current_pwd?.dirty)
											&& changepwdform.controls.current_pwd?.invalid && changepwdform.controls.current_pwd?.errors?.required"
														style="color:red">
														*Please enter current password
													</div>
												</div>
											</div>



											<div class="form-group">
												<label>New Password</label>

												<div class="pos-rltv">
													<input [type]="newShowPassword ? 'text' : 'password'" name=""
														class="form-control" value="" formControlName="new_pwd">
													<a class="type-toggle pos-abs" (click)="newToggleShow()">
														<mat-icon [hidden]="newShowPassword">visibility_off</mat-icon>
														<mat-icon [hidden]="!newShowPassword">visibility</mat-icon>
													</a>
													<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty)
													&& changepwdform.controls.new_pwd?.invalid && changepwdform.controls.new_pwd?.errors?.required"
														style="color:red">
														*Please enter new password
													</div>
													<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty) && changepwdform.controls.new_pwd?.valid && changepwdform?.errors?.pwdSame"
														class="invalid">
														*Password cannot be same
													</div>
												</div>
											</div>



											<div class="form-group">
												<label>Confirm Password</label>
												<div class="pos-rltv">
													<input [type]="confirmShowPassword ? 'text' : 'password'" name=""
														class="form-control" value="" formControlName="confirm_pwd">
													<a class="type-toggle pos-abs" (click)="confirmToggleShow()">
														<mat-icon
															[hidden]="confirmShowPassword">visibility_off</mat-icon>
														<mat-icon [hidden]="!confirmShowPassword">visibility</mat-icon>
													</a>
													<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty)
											&& changepwdform.controls.confirm_pwd?.invalid && changepwdform.controls.confirm_pwd?.errors?.required"
														style="color:red">
														*Please enter confirm password
													</div>
													<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty) && changepwdform.controls.confirm_pwd?.valid && changepwdform?.errors?.pwdNotSame "
														class="invalid">
														*Password do not match
													</div>
												</div>
											</div>



											<div class="edit-btns d-flex justify-content-end">
												<button class="btn btn-primary mr-4" (click)="change()">Save</button>
												<button class="btn btn-primary" (click)="cancel()">Cancel</button>
											</div>

										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section> -->
<!-- 
<section class="login_initial">
	<div class="container">
		<div class="login_initial_card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h1>Change Password</h1>
					<form [formGroup]="changepwdform">
						<div class="form-group position-relative">
							<label>Current Password</label>
							<input [type]="currentShowPassword ? 'text' : 'password'" name="" class="form-control"
								value="" formControlName="current_pwd">
							<span class="eye_icon" (click)="currentToggleShow()">
								<svg *ngIf="currentShowPassword" width="20" height="13" viewBox="0 0 20 13"
									fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
								</svg>
								<svg *ngIf="!currentShowPassword" width="20" height="16" viewBox="0 0 20 16"
									fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
									<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
										transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
								</svg>

							</span>
							<div *ngIf="(changepwdform.controls.current_pwd?.touched || changepwdform.controls.current_pwd?.dirty)
											&& changepwdform.controls.current_pwd?.invalid && changepwdform.controls.current_pwd?.errors?.required"
								class="invalid-feedback">
								*Please enter current password
							</div>
						</div>
						<div class="form-group position-relative">
							<label>New Password</label>
							<input [type]="newShowPassword ? 'text' : 'password'" name="" class="form-control" value=""
								formControlName="new_pwd">
							<span class="eye_icon" (click)="newToggleShow()">
								<svg *ngIf="newShowPassword"  width="20" height="13" viewBox="0 0 20 13" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
								</svg>
								<svg *ngIf="!newShowPassword" width="20" height="16" viewBox="0 0 20 16" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
									<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
										transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
								</svg>

							</span>
							<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty)
													&& changepwdform.controls.new_pwd?.invalid && changepwdform.controls.new_pwd?.errors?.required"
								class="invalid-feedback">
								*Please enter new password
							</div>
							<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty) && changepwdform.controls.new_pwd?.valid && changepwdform?.errors?.pwdSame"
								class="invalid-feedback">
								*Password cannot be same
							</div>

						</div>
						<div class="form-group position-relative">
							<label>Confirm Password</label>
							<input [type]="confirmShowPassword ? 'text' : 'password'" name="" class="form-control"
								value="" formControlName="confirm_pwd">
							<span class="eye_icon" (click)="confirmToggleShow()">
								<svg *ngIf="confirmShowPassword" width="20" height="13" viewBox="0 0 20 13"
									fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
								</svg>
								<svg *ngIf="!confirmShowPassword" width="20" height="16" viewBox="0 0 20 16"
									fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
										stroke="#545465" stroke-width="1.5" />
									<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
									<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
										transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
								</svg>

							</span>
							<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty)
											&& changepwdform.controls.confirm_pwd?.invalid && changepwdform.controls.confirm_pwd?.errors?.required"
								class="invalid-feedback">
								*Please enter confirm password
							</div>
							<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty) && changepwdform.controls.confirm_pwd?.valid && changepwdform?.errors?.pwdNotSame "
								class="invalid-feedback">
								*Password do not match
							</div>


						</div>

						<div class="submt-btn">
							<button (click)="change()" mat-button class="theme_btn btn_primary w-100">Save</button>
						</div>
					</form>
				</div>
				<div class="col-md-6">
					<img src="../../../assets/img/graduate_login_img.png" class="img-fluid" alt="employer">
				</div>
			</div>
		</div>

	</div>
</section> -->


<section class="">
	<div class="login-navbar">
	  <div class="row m-0">
		<div class="col-md-12 d-flex justify-content-between align-items-center mb-4">
			<img  src="../../../assets/img/career_hive_logo1.svg" class="img-fluid top-logo" alt="institude">
		</div>
	  </div>
	</div>
	<div class="login_initial pt-5">
	  <div class="container">
		<div class="">
		  <div class="row align-items-center">
			<div class="col-md-6">
			  <img *ngIf="panelType=='student'"  src="../../../assets/img/Student.png" class="img-fluid" alt="employer">
			  <img *ngIf="panelType=='employee'" src="../../../../assets/img/Employer.png" class="img-fluid" alt="employer">
			  <img *ngIf="panelType=='admin'" src="../../../../assets/img/Admin.png" class="img-fluid" alt="employer">
			</div>
			<div class="col-md-6 d-flex justify-content-left flex-column align-items-left">
			  <h1>Change your One Time Password</h1>
			  <div class="password-requirements">
				<p>Your password must contain each of the following:</p>
				<ol>
				  <li>A minimum of 8 characters</li>
				  <li>At least one uppercase letter (A-Z)</li>
				  <li>At least one numeric character (0-9)</li>
				  <li>At least one special character (e.g., !, @, #, $, %, ^, &, *)</li>
				</ol>
			  </div>

				  
			  <form [formGroup]="changepwdform" class="w-100">
				<div class="form-group position-relative">
					<!-- <label>Current Password</label> -->
					<input [type]="currentShowPassword ? 'text' : 'password'" name="" class="form-control input-radius"
						value="" formControlName="current_pwd" placeholder="One Time Password">
					<span class="eye_icon" (click)="currentToggleShow()">
						<svg *ngIf="currentShowPassword" width="20" height="13" viewBox="0 0 20 13"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
						</svg>
						<svg *ngIf="!currentShowPassword" width="20" height="16" viewBox="0 0 20 16"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
							<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
								transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
						</svg>

					</span>
					<div *ngIf="(changepwdform.controls.current_pwd?.touched || changepwdform.controls.current_pwd?.dirty)
									&& changepwdform.controls.current_pwd?.invalid && changepwdform.controls.current_pwd?.errors?.required"
						class="invalid-feedback">
						*Please enter current password
					</div>
				</div>
				<div class="form-group position-relative">
					<!-- <label>New Password</label> -->
					<input [type]="newShowPassword ? 'text' : 'password'" name="" class="form-control input-radius" value=""
						formControlName="new_pwd" placeholder="New Password">
					<span class="eye_icon" (click)="newToggleShow()">
						<svg *ngIf="newShowPassword"  width="20" height="13" viewBox="0 0 20 13" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
						</svg>
						<svg *ngIf="!newShowPassword" width="20" height="16" viewBox="0 0 20 16" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
							<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
								transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
						</svg>

					</span>
					<!-- <div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty)
											&& changepwdform.controls.new_pwd?.invalid && changepwdform.controls.new_pwd?.errors?.required"
						class="invalid-feedback">
						*Please enter new password
					</div>
					<div *ngIf="(changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty) && changepwdform.controls.new_pwd?.valid && changepwdform?.errors?.pwdSame"
						class="invalid-feedback">
						*Password cannot be same
					</div> -->
					<div *ngIf="changepwdform.controls.new_pwd?.touched || changepwdform.controls.new_pwd?.dirty">
						<!-- Required Error -->
						<div *ngIf="changepwdform.controls.new_pwd?.errors?.required" class="invalid-feedback">
							*Please enter a new password
						</div>
						
						<!-- Pattern Error -->
						<div *ngIf="changepwdform.controls.new_pwd?.errors?.pattern" class="invalid-feedback">
							*Please enter a valid password (minimum 8 characters, at least one uppercase letter, one number, and one special character)
						</div>
						
						<!-- Same Password Error -->
						<div *ngIf="changepwdform.controls.new_pwd?.errors?.pwdSame" class="invalid-feedback">
							*Password cannot be the same as the current password
						</div>
					</div>
					  

				</div>
				<div class="form-group position-relative">
					<!-- <label>Confirm Password</label> -->
					<input [type]="confirmShowPassword ? 'text' : 'password'" name="" class="form-control input-radius"
						value="" formControlName="confirm_pwd" placeholder="Confirm Password">
					<span class="eye_icon" (click)="confirmToggleShow()">
						<svg *ngIf="confirmShowPassword" width="20" height="13" viewBox="0 0 20 13"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.29565 6.7632C1.1361 6.56013 1.00404 6.38224 0.900947 6.23866C0.997612 6.09726 1.1211 5.92302 1.27053 5.72458C1.69179 5.16511 2.31455 4.41936 3.11828 3.6754C4.7353 2.17866 7.01653 0.75 9.82143 0.75C12.6263 0.75 14.9076 2.17866 16.5246 3.6754C17.3283 4.41936 17.9511 5.16511 18.3723 5.72458C18.5218 5.92302 18.6452 6.09726 18.7419 6.23866C18.6388 6.38224 18.5068 6.56013 18.3472 6.7632C17.9058 7.32498 17.2587 8.07347 16.4375 8.82004C14.7807 10.3262 12.4992 11.75 9.82143 11.75C7.14368 11.75 4.86212 10.3262 3.2054 8.82004C2.38417 8.07347 1.73706 7.32498 1.29565 6.7632Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="9.82143" cy="6.24965" r="2.82143" stroke="#545465" stroke-width="1.5" />
						</svg>
						<svg *ngIf="!confirmShowPassword" width="20" height="16" viewBox="0 0 20 16"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M1.30849 8.89459C1.14302 8.68399 1.00656 8.49996 0.900682 8.35228C0.999999 8.20676 1.12767 8.0264 1.28274 7.82046C1.71202 7.25034 2.34663 6.49038 3.16572 5.73222C4.81343 4.20707 7.1393 2.75 10 2.75C12.8607 2.75 15.1866 4.20707 16.8343 5.73222C17.6534 6.49038 18.288 7.25034 18.7173 7.82046C18.8723 8.0264 19 8.20676 19.0993 8.35228C18.9934 8.49996 18.857 8.68399 18.6915 8.89459C18.2417 9.46703 17.5824 10.2297 16.7455 10.9905C15.0575 12.525 12.7313 13.9773 10 13.9773C7.26867 13.9773 4.94248 12.525 3.2545 10.9905C2.41765 10.2297 1.75826 9.46703 1.30849 8.89459Z"
								stroke="#545465" stroke-width="1.5" />
							<circle cx="10.0001" cy="8.36293" r="2.88636" stroke="#545465" stroke-width="1.5" />
							<rect x="2.1875" y="1.44922" width="1.52727" height="20.3636"
								transform="rotate(-45 2.1875 1.44922)" fill="#545465" />
						</svg>

					</span>
					<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty)
									&& changepwdform.controls.confirm_pwd?.invalid && changepwdform.controls.confirm_pwd?.errors?.required"
						class="invalid-feedback">
						*Please enter confirm password
					</div>
					<div *ngIf="(changepwdform.controls.confirm_pwd?.touched || changepwdform.controls.confirm_pwd?.dirty) && changepwdform.controls.confirm_pwd?.valid && changepwdform?.errors?.pwdNotSame "
						class="invalid-feedback">
						*Password do not match
					</div>


				</div>

				<div class="submt-btn">
					<button (click)="change()" mat-button class="theme_btn btn_primary w-100">Set Password</button>
				</div>
			</form>
			</div>
			
		  </div>
		</div>
	
	  </div>
	</div>
  </section>
  
  <div class="modal fade ch_modal agreement_box" id="agreement_box">
	<div class="modal-dialog  modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header flex-column align-items-center">
		  <h2 class="modal-title" id="exampleModalLabel">Acceptance of Terms & Conditions</h2>
		</div>
		<div class="modal-body text-center">
		  <p class="p_text">Please read the following terms and conditions carefully before you access or use this site.
			<br>
			By continuing to use the site and proceeding to create a user account, you agree to be bound by these terms
			and conditions. </p>
		  <p class="accept_text"><mat-checkbox></mat-checkbox> I hereby agree to the <a target="_blank"
			  routerLink="/student-terms-and-conditions">Terms & Conditions</a> while using the Career Hive software.</p>
		</div>
		<div class="modal-footer justify-content-center">
		  <button class="theme_btn btn_primary" mat-button data-dismiss="modal">I accept the
			above Terms & Conditions</button>
		</div>
	  </div>
	</div>
  </div>
  