.pos-rltv{
    position: relative;
}
.pos-abs{
    position: absolute;
    top: 8px;
    right: 10px;
}
.pos-abs mat-icon{
    font-size: 20px;
}
.submt-btn {
    .theme_btn {
        margin-bottom: 30px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #545465;

        a {
            color: var(--primary-color-first);
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
.eye_icon {
    position: absolute;
    right: 20px;
    top: 15px !important;
  }
.top-logo{
    width: 250px;
    height: 80px;
}
.input-radius{
    border-radius: 50px;
}
.password-requirements {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000;
  
    p {
      font-weight: 400;
      margin: 0px !important;
    }
  
    ol {
      padding-left: 20px;
    }
  
    li {
      margin-bottom: 5px;
      line-height: 1.5;
    }
  }