.complete_placemet_card {
    // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    // border-radius: 10px;
    // margin-bottom: 60px;

    .complete_placemet_card_container {
        display: flex;
        // align-items: center;
        padding: 20px 10px;

        &.complete_placemet_card_header {
            .content {
                p {
                    color: var(--main-black-color);
                }
            }
        }

        figure {
            margin-bottom: 0px;
            margin-right: 37px;
        }

        .content {
            flex-grow: 1;

            h1 {
                font-family: var(--font-primary);
                font-size: 30px;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--primary-color-first);
                margin-bottom: 11px;
            }

            a {
                font-family: var(--font-primary);
                font-size: 18px;
                font-weight: 700;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--main-black-color);
                margin-bottom: 9px;
                display: inline-block;
                text-decoration: underline;

            }

            p {
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #9A9A9A;
                margin: 0px;


            }
        }

        .show_hide_btn {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: right;
            cursor: pointer;

        }

        &.details {
            // padding-top: 0px;

            figure {
                img {
                    max-width: 109px;
                }
            }
        }
    }

    .card_container {
        .header_card {
            background-color: #fff;
            display: flex;
            height: 100%;
            padding: 10px 13px 10px 20px;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            user-select: text;
            cursor: pointer;
            &.duration{
                cursor: auto;
            }
            .content {
                width: calc(100% - 54px);
                padding-right: 20px;
                flex-grow: 1;

                h5 {
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    margin-bottom: 10px;
                }

                p {
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 6px;

                }

                span {
                    font-family: var(--font-primary);
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 13px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #575757;

                }
            }

            .header_card_icon {
                position: relative;
                text-align: center;

                svg {
                    transition: all ease-in-out 300ms;

                    circle,
                    path {
                        transition: all ease-in-out 300ms;
                    }
                }

                a {
                    color: currentColor;
                    transition: all ease-in-out 300ms;
                    font-family: var(--font-primary);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    text-decoration: underline;
                    opacity: 0;
                    position: relative;
                    transform: translateY(-45px);
                    visibility: hidden;
                    overflow: hidden;
                    display: block;
                    height: 0px;
                }
            }

            &:hover {
                .header_card_icon {
                    position: relative;

                    svg {
                        margin-bottom: 3px;

                        circle {
                            opacity: 0.15;
                        }

                        path {
                            stroke: currentColor;
                        }
                    }

                    a {
                        transform: translateY(0px);
                        opacity: 1;
                        position: relative;
                        margin-top: 0px;
                        visibility: visible;
                        height: 16px;
                    }
                }
            }
        }

        .progress {
            margin-bottom: 15px;
            height: 20px !important;
            background-color: #F8F8F8;
            border-radius: 10px;
            margin-bottom: 7px;

            .progress-bar {
                background-color: var(--primary-color-first);
                padding: 0px 10px;
            }
        }
    }

    .complete_placemet_card_body {
        padding: 0px 33px 33px;

        hr {
            margin: 37px 0px;
        }
    }
}


.progress_step {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;

    li {
        position: relative;
        width: 100%;

        span {
            z-index: 1;
            border-radius: 20px;
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #26C296;
        }

        &:not(:last-child) {
            span::before {
                content: "";
                display: block;
                width: calc(100% + -24px);
                height: 3px;
                background-color: #65DAB9;
                border-radius: 10px;
                position: absolute;
                left: 24px;
                top: 11px;
            }
        }

        &.pending {
            span {
                background-color: #F2F2F2;
            }
        }

        &.step_progress {
            &:not(.pending) {
                svg {
                    animation: rotation 3s linear infinite;
                }
            }

            span::before {
                content: '';
                background-color: #F2F2F2;

            }
        }


    }
}


.ch_modal {
    &.calendar_popup {
        .modal-dialog {
            max-width: 486px;

            .modal-footer {
                .theme_btn {
                    width: 121px;
                    height: 38px;
                    padding: 7px 10px !important;
                }
            }
        }
    }

    &.contact_popup {
        .modal-dialog {
            max-width: 336px;

            .modal-header {
                padding: 22px 50px 10px;
            }

            .contact_person {
                display: flex;
                align-items: center;
                margin-bottom: 21px;

                .profile {
                    width: 53px;
                    height: 53px;
                    display: inline-block;
                    border-radius: 40px;
                    background-color: rgb(var(--primary-color));
                    cursor: pointer;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 40px;
                    }

                    span {
                        font-family: var(--font-primary);
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: center;
                        text-transform: uppercase;
                        display: inline-flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                    }
                }

                .content {
                    margin-left: 15px;
                    text-align: left;

                    h5 {
                        font-family: var(--font-primary);
                        color: var(--main-black-color);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 18px;
                        margin-bottom: 1px;
                    }

                    p {
                        font-family: var(--font-primary);
                        color: var(--main-black-color);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 21px;
                        margin-bottom: 0px;
                    }
                }
            }

            .modal-body {
                padding: 0px 44px;
            }

            .modal-footer {
                padding: 30px 50px;

                .theme_btn {
                    width: 121px;
                    height: 38px;
                    padding: 7px 10px !important;
                }
            }
        }
    }
}

.contact_section_container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 12px;

    .contact_element {
        text-align: center;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(229, 229, 229, 1);
        border-radius: 10px;
        padding: 12px 0px 12px;
        user-select: none;
        background-color: #fff;
        cursor: pointer;
        user-select: none;

        figure {
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 6px;
        }

        span {
            font-family: var(--font-primary);
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: var(--main-black-color);
        }
    }
}

.activity_list {
    position: relative;

    .activity_card_container {
        position: relative;
        display: flex;
        gap: 33px;

        &:not(:last-child) {
            margin-bottom: 44px;

            .status_bar::before {
                content: '';
                display: block;
                width: 3px;
                height: calc(100% + 9px);
                background-color: #65DAB9;
                border-radius: 10px;
                position: absolute;
                left: 16px;
                top: 52px;
            }
        }

        .status_bar {
            position: relative;
            padding-top: 17px;

            .bar {
                z-index: 1;
                border-radius: 20px;
                width: 35px;
                height: 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #26C296;
            }

            &.step_progress {
                &:not(.pending) {
                    svg {
                        animation: rotation 3s linear infinite;
                    }
                }

                .bar {
                    background-color: #26C296;

                }

                &::before {
                    content: '';
                    background-color: #F2F2F2;

                }
            }

            &.pending {
                .bar {
                    background-color: #F2F2F2;
                }
            }
        }
    }

    .activity_card {
        position: relative;
        padding: 15px 25px;
        flex-grow: 1;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .activity_card_header {
            display: flex;
             align-items: center !important;
            flex-grow: 1;
            justify-content: space-between;

            .left {
                width: calc(100% - 100px);
                padding-right: 15px;

                .content {
                    font-family: var(--font-primary);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    display: flex;

                    span {
                        display: inline-block;
                        margin-right: 10px;
                    }

                    p {
                        margin-bottom: 0px;
                    }

                }

            }

            .right {
                text-align: right;

                span {
                    color: #26C296;
                    text-transform: capitalize;
                    white-space: nowrap;
                }

                button.show {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .activity_card_body {
            padding-top: 25px;
            padding-bottom: 10px;

            .theme_btn {
                min-width: 215px;
            }

            p {
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                color: var(--main-black-color);
                margin-bottom: 32px;
            }

            .file_upload {
                border: 1.5px dashed var(--pink-color);
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 90px;
                width: 100%;
                max-width: 550px;
                position: relative;
                margin: 0 auto;
                margin-bottom: 32px;
                cursor: pointer;

                .file_upload_label {
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    margin: 0px;
                    cursor: pointer;
                }

                input {
                    // visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    cursor: pointer;
                }

                p {
                    font-family: var(--font-primary);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16.8px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: var(--mid-dark-gray-color);
                    margin-bottom: 0px;

                    strong {
                        font-size: 16px;
                        font-weight: 400;
                        color: var(--header-footer-form-heading-color);
                    }

                    span {
                        color: var(--pink-color);
                    }

                }
            }

            .file_uploaded {
                display: flex;
                align-items: center;
                max-width: 442px;
                width: 100%;
                padding: 24px 0px;
                margin-bottom: 32px;
                margin: 0 auto;

                .content {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    width: calc(100% - 80px);

                    svg {
                        margin-right: 15px;
                    }

                    p {
                        margin-bottom: 0px;
                        font-family: var(--font-primary);
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        letter-spacing: 0em;
                        text-align: left;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        width: calc(100%);
                    }
                }

                .btns_grp {
                    display: inline-flex;
                    align-items: center;
                }
            }

            .file_uploaded_successfully {
                text-align: center;
                max-width: 554px;
                margin: 0 auto;
                padding-top: 32px;

                h4 {
                    font-family: var(--font-primary);
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 26px;
                    color: var(--primary-color-first);
                    margin-bottom: 27px;

                }
            }
        }



        &.step_progress {
            &::before {
                content: '';
                background-color: #F2F2F2;

            }

            &::after {
                content: '';
                background-color: #26C296;
            }
        }

        &.pending::after {
            content: '';
            background-color: #F2F2F2;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon_with_title {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--main-black-color);
    display: flex;
    gap: 17px;
    margin-bottom: 32px;
    align-items: center;

}

.withdrawal_modal {
    &.ch_modal {
        .modal-dialog {
            .ch_modal .modal-dialog {
                max-width: 872px;
            }
        }
    }

    .modal-body {
        text-align: center;

        svg,
        img {
            margin-bottom: 24px;
        }

        h3 {
            font-family: var(--font-primary);
            font-size: 24px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: center;
            color: var(--main-black-color);
            margin-bottom: 34px;
        }

        p {
            font-family: var(--font-primary);
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            color: var(--main-black-color);
            margin-bottom: 0px;

        }
    }
}

.task_tab_header {
    display: inline-flex;
    gap: 30px;

    .icon_with_title {
        border-bottom: 6px solid transparent;
        color: #9A9A9A;
        padding-bottom: 10px;
        cursor: pointer;

        &.active_working_hours {
            border-bottom: 6px solid #464BA8;

            svg {
                color: #464BA8;
            }

            color: var(--main-black-color);
        }

        &.active {
            border-bottom: 6px solid #26C296;

            svg {
                color: #26C296;
            }

            color: var(--main-black-color);
        }
    }
}

.working_hour_container {
    margin-bottom: 27px;

    h4 {
        font-family: var(--font-primary);
        color: var(--main-black-color);
        font-size: 24px;
        font-weight: 500;
        line-height: 31.25px;
        text-align: left;
        margin-bottom: 30px;

    }

    .left {
        .progress {
            margin-bottom: 15px;
            height: 20px !important;
            background-color: #F8F8F8;
            border-radius: 10px;
            margin-bottom: 7px;

            .progress-bar {
                background-color: var(--primary-color-first);
                padding: 0px 10px;
            }
        }

        h3 {
            font-family: var(--font-primary);
            font-size: 16px;
            font-weight: 500;
            line-height: 20.83px;
            text-align: left;
            color: var(--main-black-color);
            margin-bottom: 0px;

        }

        h1 {
            font-family: var(--font-primary);
            color: var(--primary-color-first);
            font-size: 50px;
            font-weight: 500;
            line-height: 65.1px;
            text-align: left;

            span {
                color: #575757;
                font-size: 20px;
                font-weight: 500;
                line-height: 26.04px;
                text-align: left;

            }
        }
    }

}

.no_data {
    text-align: center;
    padding: 124px 0px;
    text-align: center;
    max-width: 668px;
    margin: 0 auto;

    svg {
        margin-bottom: 25px;
    }

    h3 {
        font-family: var(--font-primary);
        font-size: 25px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-black-color);
        margin-bottom: 0px;

    }

    p {
        font-family: var(--font-primary);
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-black-color);
        margin-bottom: 0px;

    }
}
.hour_list {

.hour_list_item_card {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-left: 11px solid var(--primary-color-first);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 13px 30px 13px 35px;
    position: relative;
    display: flex;
    height: 80px;

    .row {
        align-items: center;
        align-self: center;
        flex-grow: 1;

        .left {
            .content {
                display: inline-flex;
                align-items: center;
                gap: 11px;
                flex-wrap: wrap;

                h3 {
                    font-family: var(--font-primary);
                    color: var(--main-black-color);
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 31.25px;
                    text-align: left;
                    margin-bottom: 0px;
                }

                span {
                    font-family: var(--font-primary);
                    color: #9A9A9A;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18.23px;
                    text-align: left;

                }
            }
        }

        .right {
            text-align: right;

            .content {
                display: inline-flex;
                align-items: center;
                flex-wrap: wrap;

                p {
                    font-family: var(--font-primary);
                    color: var(--main-black-color);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18.23px;
                    text-align: left;
                    margin-left: 8px;
                    margin-right: 15px;
                    margin-bottom: 0px;
                }

                h3 {
                    font-family: var(--font-primary);
                    color: var(--main-black-color);
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 31.25px;
                    text-align: left;
                    margin-bottom: 0px;

                    span {
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 26.04px;
                        text-align: left;

                    }
                }

                .edit {
                    display: inline-flex;
                    align-items: center;

                    h3 {
                        input {
                            border: 0px;
                            outline: none;
                            width: 35px;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 31.25px;
                            text-align: left;
                            color: var(--primary-color-first);
                        }

                        max-width: 76px;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            background-color: var(--primary-color-first);
                            height: 2px;
                            width: 100%;
                            left: 0px;
                            bottom: 0px;
                           
                        }
                    }

                    .up_down_value_btn {
                        display: inline-flex;
                        flex-direction: column;
                        margin-left: 5px;
                        position: relative;
                        bottom: -2px;
                        svg{
                            cursor: pointer;
                        }
                    }
                }

                .edit_btn {
                    margin-left: 11px;
                    width: 30px;
                    height: 30px;
                    line-height: 1;
                }
            }
        }
    }
    &:not(:last-child){
        margin-bottom: 20px;
    }
    &.inactive{
        user-select: none;
        opacity: 0.3;
    }
}
}

.span-babge{
    background-color: #ECEDFF;
    color: #2B2A35;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 500;
}

.custom-tooltip {
  white-space: pre-line !important;  /* Preserve line breaks */
  text-align: left; 
  }


  .success{
    color: #26C296;
  }
  .pending{
    color: #F47761;
  }

  
  .doc-div{
    position: relative; width: 70%; padding-bottom:15px; margin-bottom: 15px;
  }

  .files_list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .file_card {
            display: flex;
            align-items: center;

            .content {
                flex-grow: 1;
                display: flex;
                align-items: center;
                // margin-right: 15px;
                width: calc(100% - 100px);
                span {
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;}
                p {
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;
                    max-width: calc(100% - 44px);

                    span {
                        color: #9A9A9A;
                        font-size: 14px;
                        line-height: 18px;

                        &.danger {
                            color: var(--danger-color);
                        }
                    }
                }

                svg {
                    margin-right: 12px;
                }
            }

            .btn_group {
                display: inline-flex;
                align-items: center;
                pointer-events: auto;
            }
        }
    }
}

.type-span{
    height: 30;
    gap: 13px;
    border-radius: 53px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    background: #ECEDFF;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2B2A35;
    margin: 10px 0;
}
.activity_list {
    position: relative;

    .activity_card_container {
        position: relative;
        display: flex;
        gap: 33px;
        flex-direction: row;

        &:not(:last-child) {
            margin-bottom: 44px;

            .status_bar::before {
                content: '';
                display: block;
                width: 3px;
                height: calc(100% + 9px);
                background-color: #65DAB9;
                border-radius: 10px;
                position: absolute;
                left: 16px;
                top: 52px;
            }
        }

        .status_bar {
            position: relative;
            ;
            padding-top: 17px;

            .bar {
                z-index: 1;
                border-radius: 20px;
                width: 35px;
                height: 35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #26C296;
            }

            &.step_progress {
                &:not(.pending) {
                    svg {
                        animation: rotation 3s linear infinite;
                    }
                }

                .bar {
                    background-color: #26C296;

                }

                &::before {
                    content: '';
                    background-color: #F2F2F2;

                }

                @keyframes rotation {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

            }

            &.pending {
                .bar {
                    background-color: #F2F2F2;
                }

            }
        }
    }

    .activity_card {
        position: relative;
        padding: 15px 25px;
        flex-grow: 1;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .activity_card_header {
            display: flex;
             align-items: center !important;
            flex-grow: 1;
            justify-content: space-between;

            .left {
                width: calc(100% - 100px);
                padding-right: 15px;

                .content {
                    font-family: var(--font-primary);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    display: flex;

                    span {
                        display: inline-block;
                        margin-right: 10px;
                    }

                    p {
                        margin-bottom: 0px;
                    }

                }

            }

            .right {
                text-align: right;

                span {
                    color: #26C296;
                    text-transform: capitalize;
                    white-space: nowrap;
                }
                button.show{
                    svg{
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .activity_card_body {
            padding-top: 25px;
            text-align: center;
        }



        &.step_progress {
            &::before {
                content: '';
                background-color: #F2F2F2;

            }

            &::after {
                content: '';
                background-color: #26C296;
            }
        }

        &.pending::after {
            content: '';
            background-color: #F2F2F2;
        }
    }
}
.h1-style{
    font-family: var(--font-primary);
    font-size: 30px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color-first);
    margin-bottom: 11px;
}
.see-details{
    font-family: var(--font-primary);
font-weight: 400;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
color: #2B2A35;
}
.show {
    svg {
        transform: rotate(180deg);
    }
}
.terminated-title{
    color: #F47761;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20.5px;
    letter-spacing: 0%;

}
.terminated-detail{
    color: #F47761;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26.04px;
    letter-spacing: 0%;

}
.terminated-box{
    border-radius: 8px;
    border: 2px solid #F47761;
    padding: 15px;
}
.doc-div{
    position: relative; width: 70%; padding-bottom:15px; margin-bottom: 15px;
  }

  .files_list {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .file_card {
            display: flex;
            align-items: center;

            .content {
                flex-grow: 1;
                display: flex;
                align-items: center;
                // margin-right: 15px;
                width: calc(100% - 100px);
                span {
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;}
                p {
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;
                    max-width: calc(100% - 44px);

                    span {
                        color: #9A9A9A;
                        font-size: 14px;
                        line-height: 18px;

                        &.danger {
                            color: var(--danger-color);
                        }
                    }
                }

                svg {
                    margin-right: 12px;
                }
            }

            .btn_group {
                display: inline-flex;
                align-items: center;
                pointer-events: auto;
            }
        }
    }
}
::ng-depp .mat-mdc-icon-button .mat-mdc-button-persistent-ripple{
    border-radius: 5px !important;
}


::ng-deep .mat-mdc-tooltip .mdc-tooltip__surface{
      white-space: pre-line !important; 
      text-align: left !important;
      max-width:400px !important
 }