<section>
    <div class="card_header">
        <div class="card_container">
            <div class="header_card">
                <div class="content">
                    <p>Total Displayed</p>
                    <h4>5</h4>
                </div>
                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="27" cy="27" r="27" fill="#F2C94C" />
                    <path
                        d="M25.6667 36.3333C31.5577 36.3333 36.3333 31.5577 36.3333 25.6667C36.3333 19.7756 31.5577 15 25.6667 15C19.7756 15 15 19.7756 15 25.6667C15 31.5577 19.7756 36.3333 25.6667 36.3333Z"
                        stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39.0002 39.0002L33.2002 33.2002" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="header_card">
                <div class="content">
                    <p>Added Companies</p>
                    <h4>12</h4>
                </div>
                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="27" cy="27" r="27" fill="#202C76" />
                    <path d="M17.6667 27H36.3334" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M27 17.6666L36.3333 27L27 36.3333" stroke="white" stroke-width="4" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

            </div>
            <div class="d-inline-flex align-items-center ml-auto">
                <div class="search-container">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                        fill="none">
                        <path
                            d="M9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.5 17.5L13.875 13.875" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <input type="text" class="form-control" [formControl]="control"
                    [matAutocomplete]="auto" placeholder="Add by Searching Company Name">
                    <mat-autocomplete #auto="matAutocomplete" class="auto_complete">
                        <mat-option class="company_option">
                            <div class="company_option_container">
                              <div class="w-50 d-inline-flex">
                                <img src="../../../../assets/img/woolworths.svg" alt="">
                                <span>woolworths</span> 
                              </div>
                            <div class="w-50 text-right">
                                <small>Glen Waverley, VIC</small>
                            <svg class="add_icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#464BA8"/>
                                <path d="M11.9814 6.71973V16.7197" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6.98145 11.7197H16.9814" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                                
                            </div>
                        </mat-option>
                      </mat-autocomplete>
                </div>
                <button mat-button class="theme_btn btn_white ml-4" data-toggle="modal" data-target="#filterIP">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
                        <path d="M22 3.10669H2L10 11.9629V18.0854L14 19.9578V11.9629L22 3.10669Z" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Filters
                </button>
            </div>
        </div>
    </div>
    <div class="card_body_section">
        <ng-container>
            <div class="no_companies_added_section d-none">
                <img src="../../../../assets/img/no-data.svg" alt="">
                <p>No companies added yet. <br>
                    Get started by searching for companies directly or using the filters to add in bulk!</p>
            </div>
        </ng-container>
        <div class="">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table mat-table [dataSource]="industryPartnersList" matSort #industryTbSort="matSort"
                        class="ch_table">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="checkbox" sticky>
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- Company Name Column -->
                        <ng-container matColumnDef="company_name" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Name </th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mod_groups">
                                    <div class="avatar">
                                        <!-- <img *ngIf="row?.company_logo" [src]="row?.company_logo" alt="woolworths"> -->
                                        <div class="profile">
                                            <span style="color: #fff">VK</span>
                                        </div>
                                    </div>
                                    <span>{{row.company_name}}</span>
                                </div>
                                <!-- <div class="profile">
                               <img src="../../../../assets/img/woolworths.svg" alt="logo">
                            </div>  -->
                            </td>
                        </ng-container>
                        <!-- Location Column -->
                        <ng-container matColumnDef="location">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.location}}
                            </td>
                        </ng-container>
                        <!-- ABN/ACN Column -->
                        <ng-container matColumnDef="abn_acn">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ABN/ACN </th>
                            <td mat-cell *matCellDef="let row"> {{row.abn_acn}} </td>
                        </ng-container>
                        <!-- No. of Employees Column -->
                        <ng-container matColumnDef="no_of_employees">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. of Employees </th>
                            <td mat-cell *matCellDef="let row"> {{row.no_of_employees}} </td>
                        </ng-container>

                        <!-- Students Placed Column -->
                        <ng-container matColumnDef="student_placed">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Students Placed </th>
                            <td mat-cell *matCellDef="let row"> {{row.student_placed}} </td>
                        </ng-container>
                        <!-- Simulation Groups Column -->
                        <ng-container matColumnDef="placement_groups">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Simulation Groups </th>
                            <td mat-cell *matCellDef="let row"> {{row.placement_groups}} </td>
                        </ng-container>

                        <ng-container matColumnDef="contact_01_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_first_name}}
                                {{row.contact_01_last_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_01_title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Title </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_title}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_01_primary_email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Email </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_primary_email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_01_primary_phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 1 Phone </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_01_primary_phone}} </td>
                        </ng-container>

                        <ng-container matColumnDef="contact_02_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_first_name}}
                                {{row.contact_02_last_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_02_title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Title </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_title}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_02_primary_email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Email </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_primary_email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="contact_02_primary_phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact 2 Phone </th>
                            <td mat-cell *matCellDef="let row"> {{row.contact_02_primary_phone}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <app-paginator></app-paginator>
        </div>
        <div class="place_footer_btn">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-md-left text-center">
                    <button mat-button class="theme_btn btn_outline_primary">
                        Return</button>
                </div>
                <div class="col-md-6 col-sm-6 text-md-right text-center">
                    <button mat-button class="theme_btn btn_primary"  data-target="#confirm"
                    data-toggle="modal">
                        Confirm</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade bsModal ch_modal importing_data_error_modal" id="confirm" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center justify-content-center">
               <h2 class="modal-title"> You have selected [x] companies. <br><br>
                Do you want to proceed and add them into <br> [Simulation Group Name]?</h2>
            </div>
            <div class="modal-footer justify-content-center">                
                <button mat-button class="theme_btn btn_outline_primary mr-4" data-dismiss="modal">No</button>
                <button mat-button class="theme_btn btn_primary" data-target="#yes"
                data-toggle="modal" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bsModal ch_modal done_modal_popup" id="yes" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-center">
                <h2 class="mb-1">[x] companies have been successfully added to <br>
                    [Simulation Group Name].</h2>
            </div>
            <div class="modal-footer justify-content-center">
                <button mat-button class="theme_btn btn_primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>