.mat_label_count {
    width: 26px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 6px;

}

.dash_main_card_gap {
    row-gap: 30px;
}

.main_section {
    padding: 20px 0px;
}

.custom_dash_card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    .custom_dash_card_header {
        padding: 33px 30px 11px 30px;

        .title {
            display: inline-flex;
            align-items: center;
            gap: 18px;
        }

        h2 {
            font-family: var(--font-primary);
            color: var(--primary-color-first);
            font-size: 28px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            margin-bottom: 0px;
        }
    }

    .custom_dash_card_body {
        padding: 15px 30px;
    }
}

.profile_card {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .left {
        padding: 0px 50px 0px 15px;

        figure {
            margin: 0px;

            img {
                width: 145px;
                height: 145px;
                object-fit: cover;
                border-radius: 100%;
            }
        }
    }

    .right {
        flex-grow: 1;

        .name_container {
            h2 {
                font-size: 25px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                font-family: var(--font-primary);
                color: var(--main-black-color);
                margin-bottom: 8px;


                span {
                    font-family: var(--font-primary);
                    font-size: 32px;
                    font-weight: 400;
                    line-height: 42px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                }


            }

            p {
                font-family: var(--font-primary);
                color: var(--main-black-color);
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 0px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--mid-dark-gray-color);
                }

                &.location {
                    margin-bottom: 10px;
                }

            }

            .md-theme_btn {
                width: auto;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.card_container {
    .header_card {
        background-color: #fff;
        display: flex;
        height: 100%;
        padding: 10px 13px 10px 20px;
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #e5e5e5;
        border-radius: 10px;


        .content {
            width: calc(100% - 54px);
            padding-left: 20px;
            flex-grow: 1;

            h5 {
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--main-black-color);
                margin-bottom: 10px;
            }

            p {
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: left;
                color: #000000;
                margin-bottom: 0px;

            }

            span {
                font-family: var(--font-primary);
                font-size: 10px;
                font-weight: 400;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                color: #575757;

            }
        }
    }

    .progress {
        margin-bottom: 15px;
        height: 20px !important;
        background-color: #F8F8F8;
        border-radius: 10px;
        margin-bottom: 7px;

        .progress-bar {
            background-color: var(--primary-color-first);
            padding: 0px 10px;
        }
    }
}

.progress_step {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;

    li {
        position: relative;
        width: 100%;

        span {
            z-index: 1;
            border-radius: 20px;
            width: 24px;
            height: 24px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #26C296;
        }

        &:not(:last-child) {
            span::before {
                content: "";
                display: block;
                width: calc(100% + -24px);
                height: 3px;
                background-color: #65DAB9;
                border-radius: 10px;
                position: absolute;
                left: 24px;
                top: 11px;
            }
        }

        &.pending {
            span {
                background-color: #F2F2F2;
            }
        }

        &.step_progress {
            &:not(.pending) {
                svg {
                    animation: rotation 3s linear infinite;
                }
            }

            span::before {
                content: '';
                background-color: #F2F2F2;

            }
        }
    }
}

.complete_placemet_card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .complete_placemet_card_container {
        display: flex;
        // align-items: center;
        padding: 12px 28px;

        figure {
            margin-bottom: 0px;
            margin-right: 28px;

            img {
                width: 48px;
                height: 48px;
                object-fit: contain;
            }
        }

        .content {
            flex-grow: 1;

            h1 {
                font-family: var(--font-primary);
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--main-black-color);
                margin-bottom: 0px;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                }
            }

            p {
                font-family: var(--font-primary);
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                color: #9A9A9A;
                margin: 0px;


            }
        }

        .view_btn {
            &.sm-theme_btn {
                width: auto;
                padding: 2px 12px !important;
                font-size: 14px;
                line-height: 18.23px !important;
                border-radius: 5px !important;
                box-shadow: 1px 2px 10px -3px rgba(0, 0, 0, 0.23);
            }
        }
    }
}

.activity_list {
    position: relative;

    .activity_card_container {
        position: relative;
        display: flex;
        gap: 33px;

        &:not(:last-child) {
            margin-bottom: 30px;

            .status_bar::before {
                content: '';
                display: block;
                width: 3px;
                height: calc(100% + -1px);
                background-color: #65DAB9;
                border-radius: 10px;
                position: absolute;
                left: calc(50% - 1.5px);
                top: 38px;
            }
        }

        .status_bar {
            position: relative;
            padding-top: 9px;

            .bar {
                z-index: 1;
                border-radius: 20px;
                width: 27.35px;
                height: 27.35px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #26C296;
            }

            &.step_progress {
                &:not(.pending) {
                    svg {
                        animation: rotation 3s linear infinite;
                    }
                }

                .bar {
                    background-color: #26C296;

                }

                &::before {
                    content: '';
                    background-color: #F2F2F2;

                }
            }

            &.pending {
                .bar {
                    background-color: #F2F2F2;
                }
            }
        }
    }

    .activity_card {
        position: relative;
        padding: 3px 3px 3px 25px;
        flex-grow: 1;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .activity_card_header {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between;

            .left {
                width: calc(100% - 55px);
                padding-right: 15px;

                .content {
                    font-family: var(--font-primary);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    display: flex;

                    span {
                        display: inline-block;
                        margin-right: 10px;
                    }

                    p {
                        margin-bottom: 0px;
                    }

                }

            }

            .right {
                text-align: right;

                span {
                    color: #26C296;
                    text-transform: capitalize;
                    white-space: nowrap;
                }

                button.show {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .activity_card_body {
            padding-top: 25px;
            text-align: center;
        }



        &.step_progress {
            &::before {
                content: '';
                background-color: #F2F2F2;

            }

            &::after {
                content: '';
                background-color: #26C296;
            }
        }

        &.pending::after {
            content: '';
            background-color: #F2F2F2;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.note_add_input {
    display: flex;

    .theme_btn {
        height: 30px;
        border-radius: 3px !important;
    }

    .form-control {
        height: 30px;
        box-shadow: 2px 4px 18px -10px rgba(0, 0, 0, 0.15) inset;
        font-size: 12px;
        border-radius: 3px 0px 0px 3px;
        // border-right: 0px;
        border-color: var(--light-mid-gray-color);
    }
}

.notes_list {
    .notes_card {
        border-bottom: 1px solid var(--light-mid-gray-color);
        padding-bottom: 2px;
        margin-bottom: 14px;

        p {
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--main-black-color);
            margin-bottom: 5px;
        }

        span {
            font-family: var(--font-primary);
            font-size: 10px;
            font-weight: 400;
            line-height: 13px;
            color: #575757;
        }

        .form-control {
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--main-black-color);
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: 10px;
            padding: 5px 10px;
        }

        .notes_card_footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.action_btn_groups {
    display: inline-flex;
    align-items: center;
    gap: 3px;

    button {
        width: 28px;
        height: 28px;
        line-height: 1;
        padding: 2px 5px;
    }
}



.empty_placement {
    text-align: center;
    padding: 25px 0px;

    .icon_img {
        margin: 0 auto;
        margin-bottom: 37px;
    }

    h4 {
        font-family: var(--font-primary);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-black-color);
        margin-bottom: 70px;

    }

    .form-group {
        text-align: left;
        max-width: 493px;
        margin: 0 auto;
        margin-bottom: 29px;
    }

    .theme_btn {
        width: 270px;
    }

    &.after_submit {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h6 {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 20px;
            font-weight: 500;
            line-height: 26px;
            margin-bottom: 25px;
        }

        h5 {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 24px;
            font-weight: 500;
            line-height: 31px;
            margin-bottom: 62px;
        }

        p {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            margin-bottom: 0px;

        }
    }
}

.empty_pending_task {
    max-width: 492px;
    margin: 0 auto;
    text-align: center;
    min-height: 167px;
    display: flex;
    align-items: center;
    flex-direction: column;

    svg {
        margin-bottom: 16px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: var(--mid-dark-gray-color);
    }
}

.empty_ongoing_placement {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 29px;
    margin: 0 auto;
    max-width: 638px;

    svg {
        min-width: 140px;
    }

    .content {
        text-align: center;

        h4 {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin-bottom: 9px;
        }

        p {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 0px;
        }
    }
}
.plcement_card_top{
    position: relative;
    button.close{
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.orange{
    color: #F47761 !important;
}
:host ::ng-deep th.mat-header-cell, td.mat-cell{
    padding-right: 8px !important;
}
:host ::ng-deep th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 8px !important;
}
:host ::ng-deep .ch_table tr td .profile{
    margin-right: 6px;
}
.vacancy_header {
    margin-bottom: 24px !important;
    align-items: center;
    padding: 33px 0px;
    font-family: 'DM Sans', sans-serif;


    .main_title {
        h2 {
            font-family: var(--font-primary);
            font-family: 'DM Sans', sans-serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 2px;
            color: var(--main-black-color) !important;

        }

        P {
            color: #707070 !important;
            font-family: var(--font-primary);
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 0px;

        }
    }

    .vacancy_search_container {
        display: flex;
        font-family: 'DM Sans', sans-serif;
        align-items: center;
        max-width: 528px;
        width: 100%;
        margin-left: auto;

        .form-group {
            flex-grow: 1;
        }

        .create_vacancy_btn.theme_btn {
            width: 166px;
            height: 37px;
            font-family:  var(--font-primary);
            height: 40px;
            font-size: 16px;
            line-height: 23;
            gap: 10px;
            padding: 7px 16px 7px 16px !important;
            border-radius: 25px 0px 0px 0px;


        }
    }
}

.ongoing_placemet_card {
    // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 30px;

    .ongoing_placemet_card_container {
        display: flex;
        // align-items: center;
        padding: 33px;

        figure {
            margin-bottom: 0px;
            margin-right: 37px;

            img {
                width: 170px;
                height: 170px;
                object-fit: cover;
                border-radius: 100%;
            }
            .profile-letter {
                display: inline-block;
                width: 170px;
                height: 170px;
                line-height: 170px;
                background: #464ba8;
                text-align: center;
                color: #fff;
                font-size: 60px;
                border-radius: 100%;
                text-transform: capitalize;
                vertical-align: middle;
            }
        }

        .content {
            h2 {
                font-size: 30px;
                font-weight: 700;
                line-height: 28.64px;
                letter-spacing: 0em;
                text-align: left;
                font-family: var(--font-primary);
                color: var(--New-group-TG-Main-Blue, #464BA8);
            }

            h3 {
                font-size: 18px;
                font-weight: 700;
                line-height: 28.64px;
                letter-spacing: 0em;
                text-align: left;
                font-family: var(--font-primary);
                text-decoration: underline;
                color: var(--TG-Main-Black, #2B2#A35);
                // border-bottom: 1px solid #2B2A35;
            }

        }

        .show_hide_btn {
            font-family: var(--font-primary);
            color: var(--main-black-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: right;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            gap: 10px;
        }
    }

    .card_container {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .header_card {
            background-color: #fff;
            display: flex;
            padding: 10px 10px 10px 10px;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid #e5e5e5;
            border-radius: 10px;
            min-width: 190px !important;
            &:nth-of-type(1) {
                width: 100%;
                max-width: calc(33% - 10px);
            }

            &:nth-of-type(2) {
                width: 100%;
                max-width: calc(33% - 10px);
            }

            &:nth-of-type(3) {
                width: 100%;
                max-width: calc(33% - 10px);
            }

            @media (max-width: 1200px) {
                &:nth-of-type(1) {
                    width: 100%;
                    max-width: calc(50% - 7.5px);
                }

                &:nth-of-type(2) {
                    width: 100%;
                    max-width: calc(50% - 7.5px);
                }

                &:nth-of-type(3) {
                    width: 100%;
                    max-width: calc(35% - 10px);
                }
            }

            @media (max-width: 768px) {
                &:nth-of-type(1) {
                    width: 100%;
                    max-width: calc(100%);
                }

                &:nth-of-type(2) {
                    width: 100%;
                    max-width: calc(100%);
                }

                &:nth-of-type(3) {
                    width: 100%;
                    max-width: calc(35% - 10px);
                }
            }

            .content {
                width: calc(100% - 54px);
                padding-right: 20px;
                flex-grow: 1;
                min-height: 70px;
                h5 {
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    margin-bottom: 10px;
                }

                .contact_p {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    svg {
                        min-width: 24px;
                    }
                }

                p {
                    font-family: var(--font-primary);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 6px;

                }

                span {
                    font-family: var(--font-primary);
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 13px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #575757;

                }

                .avl_days {
                    list-style: none;
                    padding: unset;
                    margin: unset;
                    display: flex;
                    gap: 7px;

                    li {
                        span {
                            padding: 2px 4px;
                            width: 38px;
                            height: 20px;
                            border-radius: 40px;
                            font-family: var(--font-primary);
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 12px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #fff;
                            background-color: #C4C4C4;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                        }

                        &.active {
                            span {
                                background-color: var(--primary-color-first);
                            }
                        }
                    }
                }
            }
        }

        .progress {
            margin-bottom: 15px;
            height: 20px !important;
            background-color: #F8F8F8;
            border-radius: 10px;
            margin-bottom: 7px;

            .progress-bar {
                background-color: var(--primary-color-first);
                padding: 0px 10px;
            }
        }
    }

    .ongoing_placemet_card_body {
        padding: 0px;
        hr {
            margin: 37px 0px;
        }
    }
}


.progress-p{
        color: #9A9A9A;
        font-size: 16px;
        font-family: var(--font-primary);
        font-weight: 400;
        letter-spacing: 0%;
        vertical-align: middle;
}
.view-all{
    font-weight: 700;
    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #464BA8;
    text-decoration: none !important;
    border-bottom: 1px solid #464BA8;
}

.custom-tabs {
    border-bottom: 1px solid #ccc;
  }
  
  .custom-tabs .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
    color: #555;
    padding: 10px 15px;
  }
  
  .custom-tabs .nav-link.active {
    border-color: #007bff; /* or your desired active color */
    color: #007bff;
    font-weight: bold;
  }
  
  :host ::ng-deep .mat_tab_bordred .mat-mdc-tab-header{
    padding: 0;
  }

  .small-tag{
    color: #9A9A9A;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    
}
 ::ng-deep  .mat-mdc-tab-labels{
  gap: 20px;
}

.empty-form{
        display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    h4{
        margin: 0 !important;
    }
}
.no-ptag{
font-family: var(--font-primary) !important;
font-weight: 400 !important;
font-size: 16px !important;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;
text-align: center !important;
color:#9A9A9A !important;
}

.interview-btn{
    min-width: 140px;
    max-width: 180px;
    background: #ECEDFF !important;
    box-shadow: 1px 2px 10px -3px #0000003B !important;
    border-radius: 5px !important;
font-family: var(--font-primary) !important;
    font-weight: 400 !important;
    font-size: 16px !important; 
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center !important;
    color: #464BA8 !important;
    padding: 0 !important;
    height: 40px !important;
}

.name:hover{
    text-decoration: underline;
    color: #464ba9;
    cursor: pointer;
}
.view-title{
font-family: var(--font-primary) !important;
font-weight: 500;
font-style: Medium;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: var(--TG-Main-Black, #2B2A35);

}

.view-des{
font-family: var(--font-primary) !important;
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: var(--TG-Main-Black, #2B2A35);
}
.border-view{
    border: 1px solid var(--TG-Mid-Light-Grey, #E5E5E5);
    box-shadow: 2px 4px 18px -10px #00000026 inset;
    border-radius: 3px;
    border-width: 1px;

}

.meeting-link-box {
  width: 100%;
  border: 1px solid var(--TG-Mid-Light-Grey, #E5E5E5);
  box-shadow: 2px 4px 18px -10px #00000026 inset;
//   border: 2px solid #1e88ff;
  border-radius: 6px;
  padding: 0px 14px;
  background: #fff;
}

.meeting-link-text {
  font-size: 14px;
  color: #2b2a35;
  word-break: break-all;
}

.copy-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #2b2a35;
  padding-left: 12px;
}

.copy-btn:hover {
  color: #1e88ff;
}


.show1{
    svg{
        transform: rotate(180deg);
    }
}