<section class="login_initial" aria-labelledby="login-title">
    <div class="container">
        <div class="login_initial_card">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between mb-4">
                        <img src="../../../../assets/img/institude-logo.svg" width="251px" class="img-fluid" alt="Institute Logo">
                        <img src="../../../../assets/img/career_hive_logo1.svg" width="248px" class="img-fluid" alt="Career Hive Logo">
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 id="login-title">Log in as a...</h1>
                    <div role="group" aria-labelledby="login-title">
                        <div class="form-group">
                            <button mat-button class="theme_btn btn_primary w-100" routerLink="/student-login" aria-label="Log in as Current Student">
                                Current Student
                            </button>
                        </div>
                        <div class="form-group">
                            <button mat-button class="theme_btn btn_primary w-100" routerLink="/employer-login" aria-label="Log in as Employer">
                                Employer
                            </button>
                        </div>
                        <div class="form-group">
                            <button mat-button class="theme_btn btn_primary w-100" routerLink="/login" aria-label="Log in as Admin">
                                Admin
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="../../../../assets/img/main-login.png" class="img-fluid" alt="Main login illustration">
                </div>
            </div>
        </div>
    </div>
</section>
