.eye_icon {
    position: absolute;
    right: 20px;
    top: 15px !important;
  }

  .top-logo{
    width: 250px;
    height: 80px;
}
.input-radius{
    border-radius: 50px;
}
.password-requirements {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #000;

  p {
    font-weight: 400;
    margin: 0px !important;
  }

  ol {
    padding-left: 20px;
  }

  li {
    margin-bottom: 5px;
    line-height: 1.5;
  }
}