<section class="pb-5">
    <div class="custom_container container">
        <div class="vacancy_header row">
            <div class="left col-lg-8 col-md-7 col-sm-12">
                <div class="main_title">
                    <h2>Ongoing Placements</h2>
                </div>
            </div>
            <div class="right col-lg-4 col-md-5 col-sm-12">
                <div class="vacancy_search_container">
                    <div class="form-group mb-0 position-relative rounded_search">
                        <input type="text" placeholder="Search Students" class="form-control" [(ngModel)]="searchQuery">
                        <button mat-button class="theme_btn btn_primary"><svg width="20" height="20" viewBox="0 0 20 20"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 9.84871 15.3729 11.551 14.3199 12.9056L19.7071 18.2929L18.2929 19.7071L12.9056 14.3199C11.551 15.3729 9.84871 16 8 16ZM14 8C14 11.3137 11.3137 14 8 14C4.68629 14 2 11.3137 2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8Z"
                                    fill="currentColor"></path>
                            </svg></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="employerStudentData.length === 0" class="no_data">
        <svg width="126" height="101" viewBox="0 0 126 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_15421_144016)">
            <path d="M95.371 100.164L11.656 100.194C7.45041 100.195 3.68314 98.0061 1.57906 94.3383C0.526894 92.5041 0.000693685 90.4921 6.85071e-07 88.4797C-0.000692315 86.4676 0.52438 84.455 1.57504 82.6203L43.4059 5.91899C45.5077 2.24948 49.2735 0.0581061 53.4791 0.0566414C57.6848 0.0551766 61.452 2.24393 63.5564 5.91197L105.445 82.5937C106.495 84.4229 107.02 86.4326 107.02 88.4437C107.02 90.4548 106.495 92.4672 105.444 94.3021C103.342 97.9713 99.5766 100.163 95.371 100.164ZM1.0523 88.4783C1.05217 90.31 10.2898 86.363 11.2468 88.0314C13.1611 91.3683 7.82944 99.1373 11.6557 99.136C11.6557 99.136 102.623 97.1118 104.534 93.7736C105.49 92.1045 105.968 90.2734 105.967 88.4428C105.967 86.6122 105.488 84.7817 104.531 83.1133L62.6416 6.43154C60.7327 3.10425 57.3057 1.1129 53.4795 1.11423C49.655 1.11557 1.05245 86.6464 1.0523 88.4783Z" fill="#3F3D56"/>
            <path d="M77.9031 83.2491C99.0694 83.2491 116.228 65.9664 116.228 44.647C116.228 23.3277 99.0694 6.04492 77.9031 6.04492C56.7368 6.04492 39.5781 23.3277 39.5781 44.647C39.5781 65.9664 56.7368 83.2491 77.9031 83.2491Z" fill="#464BA8"/>
            <path d="M76.3835 53.0815L69.5859 23.488L74.9271 22.3555L80.5508 52.198L76.3835 53.0815ZM81.0564 64.2961C80.0781 64.5035 79.191 64.3645 78.3948 63.8791C77.6296 63.3462 77.1488 62.6099 76.9525 61.6702C76.7561 60.7305 76.9055 59.8811 77.4006 59.1219C77.9267 58.3152 78.6789 57.8082 79.6572 57.6008C80.5963 57.4017 81.4484 57.5685 82.2136 58.1014C83.0098 58.5868 83.506 59.2994 83.7024 60.2391C83.8988 61.1788 83.7339 62.052 83.2078 62.8586C82.7127 63.6178 81.9955 64.097 81.0564 64.2961Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_15421_144016">
            <rect width="126" height="101" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            <h3>You currently don’t have any students in an ongoing placement!</h3>
            <!-- <p>Check back later to see if your Placement Coordinator will assign you a placement.</p> -->
    </div>
    <div class="custom_container container" *ngFor="let data of employerStudentData | studentfilter: searchQuery">
        <div class="profile_card">
            <div class="left">
                <figure>
                    <img *ngIf="data?.student_info?.image" [src]="data?.student_info?.image" alt="avtar">
                    <span *ngIf="!data?.student_info?.image" class="profile-letter">{{ data?.student_info?.first_name[0]}}
                        {{data?.student_info?.last_name[0] }}</span>
                </figure>
            </div>
            <div class="right">
                <div class="row name_container">
                    <div class="col-8">
                        <h2>{{data?.student_info?.first_name}} {{data?.student_info?.last_name}} <span>({{data?.student_info?.student_code}})</span></h2>
                        <p class="location">
                            <svg width="14" height="17" viewBox="0 0 14 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13 7C13 11.6667 7 15.6667 7 15.6667C7 15.6667 1 11.6667 1 7C1 5.4087 1.63214 3.88258 2.75736 2.75736C3.88258 1.63214 5.4087 1 7 1C8.5913 1 10.1174 1.63214 11.2426 2.75736C12.3679 3.88258 13 5.4087 13 7Z"
                                    stroke="#2B2A35" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M7 9C8.10457 9 9 8.10457 9 7C9 5.89543 8.10457 5 7 5C5.89543 5 5 5.89543 5 7C5 8.10457 5.89543 9 7 9Z"
                                    stroke="#2B2A35" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            {{data?.student_info?.surberb}}, {{data?.student_info?.state}} {{data?.student_info?.post_code}}
                        </p>
                    </div>
                    <div class="col-4 text-right">
                        <button (click)="goToDetail(data)" style="width:155px" mat-button class="theme_btn btn_primary md-theme_btn"><svg width="20" height="21"
                                viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9.16667 15.9134C12.8486 15.9134 15.8333 12.9286 15.8333 9.24674C15.8333 5.56485 12.8486 2.58008 9.16667 2.58008C5.48477 2.58008 2.5 5.56485 2.5 9.24674C2.5 12.9286 5.48477 15.9134 9.16667 15.9134Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17.458 17.5801L13.833 13.9551" stroke="white" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            View Task</button>
                    </div>
                </div>
                <div class="card_container">
                    <div class="header_card">
                        <div class="content">
                            <h5>Placement</h5>
                            <p>{{data?.job_post_info?.job_title}}</p>
                        </div>
                        <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22.5" cy="22.9199" r="22.5" fill="#9747FF" />
                            <path
                                d="M31.5 16.875H13.5C12.2574 16.875 11.25 17.8824 11.25 19.125V30.375C11.25 31.6176 12.2574 32.625 13.5 32.625H31.5C32.7426 32.625 33.75 31.6176 33.75 30.375V19.125C33.75 17.8824 32.7426 16.875 31.5 16.875Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M27 32.625V14.625C27 14.0283 26.7629 13.456 26.341 13.034C25.919 12.6121 25.3467 12.375 24.75 12.375H20.25C19.6533 12.375 19.081 12.6121 18.659 13.034C18.2371 13.456 18 14.0283 18 14.625V32.625"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="header_card">
                        <div class="content">
                            <h5>Internship Duration</h5>
                            <p>{{data?.student_info?.internship_start_date}} - {{data?.student_info?.internship_end_date}}</p>
                        </div>
                        <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22.5" cy="22.9199" r="22.5" fill="#F47761" />
                            <path
                                d="M30 15H16C14.8954 15 14 15.8954 14 17V31C14 32.1046 14.8954 33 16 33H30C31.1046 33 32 32.1046 32 31V17C32 15.8954 31.1046 15 30 15Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M27 13V17" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M19 13V17" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M14 21H32" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                    <div class="header_card">
                        <div class="content">
                            <h5>Available Days</h5>
                            <ul class="avl_days">
                                <li [ngClass]="day.selected ? 'active' : ''" *ngFor="let day of data?.days">
                                    <span>{{day.name?.slice(0, 3)}}</span>
                                </li>
                            </ul>
                        </div>
                        <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22.5" cy="23" r="22.5" fill="#F2C94C" />
                            <path
                                d="M23 33.5C28.5228 33.5 33 29.0228 33 23.5C33 17.9772 28.5228 13.5 23 13.5C17.4772 13.5 13 17.9772 13 23.5C13 29.0228 17.4772 33.5 23 33.5Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M23 17.5V23.5L27 25.5" stroke="white" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>