.bs_tab_nav {
    &.placement {
        .nav-pills {
            margin-bottom: 44px;
        }
    }
    .nav-pills {
        background-color: #F6F6FB;
        border-radius: 40px;
        flex-wrap: nowrap;
        position: relative;
        overflow: auto;

        .nav-link {
            color: var(--primary-color-first);
            border-radius: 40px;
            text-transform: uppercase;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            text-align: center;
            width: 200px;
            padding: 20px 10px;
            white-space: nowrap;
            &.active {
                background-color: var(--primary-color-first);
                color: #fff;
            }
        }
    }

    .tab-content {
        background-color: #fff;
        border: 0px;
        margin-top: 0px;

        .tab-pane {
            padding: 0px;
        }
    }
}

// Publish Modal
.radio-label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-size: 14px;
}
