.input_flds {
    margin: 0 24px;
    max-width: 484px;
}

.register-form-container {
    margin-top: 15px;

    .reg-submit-btns {
        margin: 28px 0px;
        // display: flex;
        // justify-content: space-between;
        // text-align: center;
    }

    .register-head {
        font-size: 2.8rem;
    }

    .phone_field {
        display: flex;

        .code_box {
            width: 78px;
            display: inline-block;
            margin-right: 8px;
        }
    }
}

.user_card {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 5px 22px, rgba(0, 0, 0, 0.03) 0px 0px 0px 0.5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 32px 24px;

    .user_card_header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        -webkit-box-pack: justify;
        justify-content: space-between;

        .card_title {
            display: flex;
            flex-direction: column;

            span {
                margin: 0px;
                font-size: 0.75rem;
                font-weight: 600;
                letter-spacing: 0.5px;
                line-height: 2.5;
                text-transform: uppercase;
                color: rgb(108, 115, 127);
            }

            h4 {
                font-weight: 700;
                font-size: 2rem;
                line-height: 1.2;
                margin-top: 8px;
                margin-bottom: 0px;
                font-family: var(--font-secondary);

            }
        }
        .card_icon{
            margin-left: 24px;
            line-height: 1;
            border-radius: 50%;
            overflow: hidden;
            user-select: none;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            height: 56px;
            width: 56px;
            position: relative;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            flex-shrink: 0;
            &.blue_circle{
                background-color: rgb(99, 102, 241);
            }
            &.green_circle{
                background-color: rgb(16, 185, 129);
            }
            &.red_circle{
                background-color: rgb(240, 68, 56);
            }
            &.yellow_circle{
                background-color: rgb(247, 144, 9);
            }
        }
    }
}
.employ_list_card{
    overflow: hidden;
    margin-top: 24px;
}