<div class="page_header">
    <div class="page_header_container">
        <div>
            <h4>Events</h4>
        </div>
        <div>
            <!-- <button type="button" mat-button class="theme_btn btn_primary"
          routerLink="/add-article"><mat-icon>add</mat-icon> Add Article</button> -->
        </div>
    </div>
  </div>
<section class="category-mngmnt">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="custom_card employ_list_card">
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>