<header class="header-navbar universal_header">
    <div class="custom_container">
        <div class="d-flex justify-content-between align-items-center logo_top_header">
            <a routerLink="/">
                <img src="../../../assets/img/careerHive/career-hive-logo-student.svg" class="img-fluid"
                    alt="career_hive_logo">
                <h1>Work Integrated Learning</h1>
            </a>
        </div>
        <nav class="navbar navbar-expand-lg p-0">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav emp-header-1">
                </ul>
            </div>
        </nav>
    </div>
</header>