<section class="inner_module_section_placement">
    <div class="place_inner_title">
        <h4>Add Students manually.</h4>
        <p>Please complete at least one row to proceed.</p>
    </div>
    <div class="cards">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort class="ch_table import_edit_table">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Name </th>
                    <td mat-cell *matCellDef="let row">
                        <input type="text" class="input">
                    </td>
                </ng-container>
                <!-- Last Name Column -->
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef >Last Name </th>
                    <td mat-cell *matCellDef="let row">
                        <input type="text" class="input">
                    </td>
                </ng-container>
                <!-- Major Column -->
                <ng-container matColumnDef="major">
                    <th mat-header-cell *matHeaderCellDef > Major </th>
                    <td mat-cell *matCellDef="let row">
                        <input type="text" class="input">
                    </td>
                </ng-container>

                <!-- Priority Column -->
                <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef >Priority</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-select class="custom_dorp_select select">
                            <mat-option value="Low">Low</mat-option>
                            <mat-option value="Medium">Medium</mat-option>
                            <mat-option value="High">High</mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <!-- Campus Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef >Status</th>
                    <td mat-cell *matCellDef="let row">
                        <mat-select class="custom_dorp_select select">
                            <mat-option value="Placed">Placed</mat-option>
                            <mat-option value="In Progress">In Progress</mat-option>
                            <mat-option value="Not Placed">Not Placed</mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <!-- Simulation Group column -->
                <ng-container matColumnDef="workflow">
                    <th mat-header-cell *matHeaderCellDef> Workflow </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-select class="custom_dorp_select select">
                            <mat-option value="Standard">Standard</mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="eligibleStudentListDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: eligibleStudentListDisplayedColumns;"></tr>

            </table>
            <div class="table_row_add_btn_container">
                <button (click)="addRow()" mat-button class="btn_add_row w-100"><svg class="mr-2" width="24" height="25"
                        viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 5.40332V19.4033" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M5 12.4033H19" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg> Add Row</button>
            </div>
        </div>

    </div>
    <div class="place_footer_btn">
        <div class="row">
            <div class="col-md-12 text-center">
                <button mat-button class="theme_btn btn_primary">
                    Finish & Add</button>
            </div>
           
        </div>
    </div>
</section>