.btn_tab.vacancies_tab {
    max-width: 400px;
}

.mod_groups {
    padding: 2px 10px 2px 10px;
    border-radius: 53px;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    span {
        font-family: var(--font-primary);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-black-color);
    }
}

.working_days {
    list-style: none;
    padding: unset;
    margin: unset;
    display: flex;
    gap: 10px;

    li {
        span {
            padding: 5px 13px 5px 13px;
            width: auto;
            height: 35px;
            border-radius: 53px;
            font-family: var(--font-primary);
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: center;
            color: var(--main-black-color);
            background-color: #F8F8F8;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;

            &.active {
                background-color: var(--primary-color-first);
                color: #fff;
            }
        }


    }
}

.form-group {
    &.label_span {
        label {
            span {
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;

                color: #9A9A9A;
            }
        }
    }
}

.custom_chip_list1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: -5.5px;
    padding-bottom: 21px;

    .custom_chip {
        color: black !important;
        background-color: #ECEDFF !important;
        padding: 2px 10px 2px 10px;
        margin: 10px 5.5px !important;
        border-radius: 16px;
        align-items: center;
        height: 30px;
        display: inline-flex;
        position: relative;
        cursor: pointer;

        &.active {
            background-color: var(--primary-color-first) !important;
            color: #fff !important;
        }

        span {
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
        }

        svg {
            margin-left: 8px;
        }
    }
}

.active_deactive_modal p {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--main-black-color);
}

.select_candidate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
        color: var(--primary-color-first);
        cursor: pointer;

    }
}
.date_group.file_upload_date {
    flex-direction: column;

    .form-group {
        width: 100%;
    }

    .to {
        padding: 10px 0px;
    }
}
.div-flex-top{
    display: flex;
    gap: 15px;
}
.card_header {
    background-image: url('../../../../assets/img/banner_linkedin.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 26px 26px 35px 26px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 35px;

    .edit_btn {
        position: absolute;
        right: 26px;
        top: 26px;
        z-index: 1;
        cursor: pointer;
    }

    .title {
        font-family: var(--font-primary);
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #fff;
    }

    .card_container {
        display: flex;
        column-gap: 42px;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-between;

        .header_card {
            background-color: #fff;
            display: inline-flex;
            align-items: center;
            padding: 17px 13px 17px 20px;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(229, 229, 229, 1);
            border-radius: 10px;

            .content {
                width: calc(100% - 54px);
                padding-right: 20px;

                p {
                    font-family: var(--font-third);
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 10px;
                }

                h4 {
                    font-family: var(--font-third);
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                    margin-bottom: 0px;

                }
            }
        }
    }
}
.student_card {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 22px 30px;
    display: flex;
    margin-bottom: 0px;
    height: 100%;
    flex-direction: row;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &.total {
        background-color: #fff;

        .action {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-gap: 33px;
            gap: 33px;
            opacity: 0;
            transition: all .3s ease-in-out;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &:hover {
            &>:not(.action) {
                filter: blur(4px);
            }

            .action {
                opacity: 1;

                button {
                    height: 36px;
                }
            }
        }
    }

    .content {
        width: calc(100% - 45px);
        padding-right: 20px;

        h4 {
            font-family: var(--font-third);
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 0px;

        }
        p {
            font-family: var(--font-third);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 10px;
        }


        h1 {
            font-family: var(--font-primary);
            font-size: 26px;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
            margin-bottom: 0px;

        }
    }

}

.disapprove_modal {
    p {
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #575757;
        margin-bottom: 21px;
    }

    .file_link {
        font-family: var(--font-primary);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        display: inline-block;
        text-align: center;
        color: var(--main-black-color);
        margin-bottom: 30px;

        span {
            text-decoration: underline;
        }

        svg {
            margin-left: 5px;
        }

    }
}

.mod_groups {
    padding: 2px 10px 2px 10px;
    border-radius: 53px;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    span {
        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: black;

    }
}

td {
    .mod_groups {
        padding: 2px 10px 2px 10px;
        border-radius: 53px;
        gap: 8px;
        display: inline-flex;
        align-items: center;

        span {
            font-family: var(--font-primary);
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
            color: var(--main-black-color);
            cursor: pointer;
            &:hover {
                color: var(--primary-color-first);
                text-decoration: underline;
            }
        }
    }
}


.option-container {
    display: flex
    ;
    flex-direction: row;
    padding: 5px 5px;
    justify-content: space-between;
  }
  
  .title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #2B2A35;
  }
  
  .category {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: #464BA8;    
  }

  .hover-header {
  position: relative;
}

.hover-icon {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
}

.hover-header:hover .hover-icon {
  display: inline-block;
}
