
.ch_modal.single_page_preview{
    .modal-dialog{
        max-width: 1200px;
    }
    }

.body-model{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.list-style{
    color: #464ba9;
    list-style: auto;
}

.cancel-btn{
    background: var(--New-group-TG-Light-Blue, #ECEDFF);
    border: none !important;
}

.form-group {
    .eye_icon {
        position: absolute;
        right: 20px;
        top: 38px;
        cursor: pointer;
    }
    .hint_text {
        font-family: var(--font-primary);
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #545465;
    }
}

.hcaaf-toogle {
  ::ng-deep .mdc-switch:enabled .mdc-switch__track {
    width: 44px !important;
    background: var(--mdc-switch-unselected-track-color);
    height: 24px !important;
    border-radius: 36px !important;
  }

  ::ng-deep .mdc-switch:enabled .mdc-switch__track::before {
    width: 45px !important;
    background: var(--mdc-switch-unselected-track-color);
    height: 24px !important;
    border-radius: 36px !important;
  }

  ::ng-deep .mdc-switch {
    width: 60px !important;
  }

  ::ng-deep .mdc-switch .mdc-switch__handle {
    width: 24px !important;
    height: 24px !important;
    border-radius: 24px !important;
  }

  ::ng-deep .mat-mdc-slide-toggle label {
    margin: 0px !important;
  }

  ::ng-deep .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
    background: #fff !important;
  }

  ::ng-deep .mdc-switch__handle::before,
  ::ng-deep .mdc-switch__handle::after {
    left: -4px !important;
  }
  ::ng-deep .mdc-switch .mdc-switch__ripple{
     width: 24px !important;
    height: 24px !important;
  }

  ::ng-deep .mdc-switch:enabled .mdc-switch__track::after {
    background: #26C296 !important;
  }

  ::ng-deep .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
    background-color: #fff !important;
  }

  ::ng-deep .mdc-switch__shadow {
    left: -4px !important;
    width: 24px !important;
    height: 24px !important;
  }

  ::ng-deep .mdc-switch .mdc-switch__handle-track {
    width: calc(100% - 34px) !important;
  }
}

.preview_form_card {
    max-width: 1201px;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 30px 24px 10px;
    margin-top: 15px !important;

    .form_title {
        font-family: var(--font-primary);
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-black-color);
        padding-bottom: 35px;

    }
}
.p-tag{
 font-family: var(--font-primary);
font-weight: 400 !important;
font-style: Regular;
font-size: 14px !important;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #9A9A9A;

}