// .forget_title {
//     margin-bottom: 40px;

//     h1 {
//         margin-bottom: 14px;
//     }

//     p {
//         font-family: var(--font-primary);
//         font-size: 16px;
//         font-weight: 400;
//         line-height: 23px;
//         letter-spacing: 0em;
//         text-align: left;
//         color: var(--main-black-color);
//         margin-bottom: 0px;
//         margin-top: 0px;

//     }
// }

// .success_sent_forget_ps_email {
//     text-align: center;

//     svg {
//         margin-bottom: 42px;
//     }

//     h1 {
//         font-family: var(--font-primary);
//         font-size: 40px;
//         font-weight: 500;
//         line-height: 48px;
//         letter-spacing: 0em;
//         text-align: center;
//         color: var(--main-black-color);
//         margin-bottom: 28px;

//     }

//     p {
//         font-family: var(--font-primary);
//         font-size: 20px;
//         font-weight: 400;
//         line-height: 26px;
//         letter-spacing: 0em;
//         text-align: center;
//         color: var(--main-black-color);
//         margin-top: 0px;

//     }
// }
.forget_title {
    margin-bottom: 40px;

    h1 {
        margin-bottom: 14px;
    }

    p {
        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-black-color);
        margin-bottom: 0px;
        margin-top: 0px;

    }
}

.success_sent_forget_ps_email {
    text-align: center;

    svg {
        margin-bottom: 42px;
    }

    h1 {
        font-family: var(--font-primary);
        font-size: 40px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-black-color);
        margin-bottom: 28px;

    }

    p {
        font-family: var(--font-primary);
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--main-black-color);
        margin-top: 0px;

    }
}
.top-logo{
    width: 250px;
    height: 80px;
}
.input-radius{
    border-radius: 50px;
}