

<section class="view-applicant-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="view-applct-wrpr">
					<div class="edit_profil jobApply_modal">
						<div class="job-content card">
							<div class="grad_resource_article position-relative pb-0">
								<div class="resource_info-cntnt">
									
									<div class="articles_sec">
										<img src="{{image_url}}" class="img-fluid grad_artcl">
									</div>
								</div>
							</div>
						  	<div class="resource_hdng_container">
								<h2>{{articledetail.article_title}}</h2>
								<div class="resource_sub_hdngs">
									<div class="mb-3">
										<span class="user_circle_name">{{firstChar ? (firstChar | titlecase) : ''}}{{secondChar ? (secondChar | titlecase) : ''}}</span>
										<span class="arcle_author">{{articledetail.posted_by}}</span>
										<small> Posted {{articledetail.createdAt | date:"dd/MM/yyyy"}}</small>
									</div>
								</div>
								<div class="resource_inner_content" >
									<figure class="figMargn_8 video_career position-relative vw_video" *ngIf="video_url">
										<div  plyr style="width: 700px; height: 400px;" plyrTitle="Video 1" [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"></div>
										<!-- <video id='video'>
											<source src="{{video_url}}" type="video/mp4">
										</video> -->
										<!-- <video id='video' src="{{video_url}}" class="img-fluid"></video> -->
										<!-- <figcaption class="blog_vdo large_vdo_src"> -->
											<!-- <button id='playVid' (click)="play1()">Play</button> -->
											<!-- <span id='playVid' (click)="play1()">
												<svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg" id='playVid'>
												<path d="M23.875 13.8505C24.375 14.1392 24.375 14.8608 23.875 15.1495L1.375 28.1399C0.874997 28.4286 0.249999 28.0677 0.249999 27.4904L0.25 1.50962C0.25 0.932266 0.875 0.571424 1.375 0.860099L23.875 13.8505Z" fill="#26C296"/>
												</svg>
											</span>
										</figcaption> -->
									</figure>
									<p class="reosurce_posted_info" [innerHTML]="articledetail.article_description">
										
									</p>
								</div>
							</div>
							<div class="edit-btns d-flex justify-content-end mt-4">
								<button class="btn btn-primary" (click)="back()">Back</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

