<div>
    <!-- <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
      (minimizedChange)="toggleMinimize($event)">
      <figure class="logo_container">
        <img src="../../../assets/img/careerHive/ch-full-logo.svg" class="full_logo" alt="career">
        <img src="../../../assets/img/careerHive/ch-logo-icon.svg" class="icon_logo" alt="chlogo">
      </figure>
      <app-sidebar-nav [navItems]="navItems"  [disabled]="appSidebar.minimized"></app-sidebar-nav>
    </app-sidebar> -->
    <div>
      <div class="app-body">
        <main class="main">
          <!-- <app-staff-header></app-staff-header> -->
          <div class="main_container">
            <div class="container-fluid">
              <!-- <app-loader></app-loader> -->
              <!-- <router-outlet></router-outlet> -->
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
