<section class="category-mngmnt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="catgry-tools d-flex justify-content-between align-items-center">
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" class="filter_input" #input>
          </mat-form-field>
          <span class="add-categry">
            <a class="btn-primary btn" routerLink="/add-video">Add Video</a>
          </span>
        </div>
        
        <div class="mat-elevation-z8">
          <div class="table-responsive">
            <table mat-table [dataSource]="sortedData" matSort>
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox  [checked]="findChecked()" (change)="selectAll($event)"
                    class="td-check">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (change)="selectUser($event, row._id)" [(ngModel)]="row.checked" class="td-check">
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                <td mat-cell *matCellDef="let row ; let i=index"> {{i+1+offset}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Video/Image</th>
                  <td mat-cell *matCellDef="let row " > 
                    <span class="position-relative play-container">
                      <iframe  [src]="sanitizer.bypassSecurityTrustResourceUrl(row?.media)" width = "200px" height="150px " type="video/mp4" download="false"></iframe>
                      <!-- <video [src]="row?.url" class="slider-imag" *ngIf="row.article_type == 'large_video_article' "></video> -->
                      <!-- <img [src]="row?.media" class="slider-imag" *ngIf="row.article_type == 'small_video_article' " />  -->
                    </span> 
                  </td>
                <!-- <td mat-cell *matCellDef="let row " *ngIf="row.article_name == 'small_video_article' "> 
                  <span class="position-relative play-container"> -->
                    <!-- <video [src]="row?.medias[i]?.url" class="slider-imag" ></video> -->
                    <!-- <img src="row?.url" class="img-fluid slider-play"> 
                  </span> 
                </td> -->
              </ng-container>
              <!-- worktype Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Title</th>
                <td mat-cell *matCellDef="let row" class="td-width"> {{row.article_title}} </td>
              </ng-container>

               <!-- worktype Column -->
               <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                <td mat-cell *matCellDef="let row" class="td-width"> {{row?.category_name}} </td>
              </ng-container>
              
              <!-- worktype Column -->

               <!-- worktype Column -->
               <!-- <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Type</th>
                <td mat-cell *matCellDef="let row" class="td-width"> {{row.article_name}} </td>
              </ng-container> -->
              
              <!-- worktype Column -->
              <!-- <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let row" class="td-width"> {{row.description}} </td>
              </ng-container> -->

              <ng-container matColumnDef="postedBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Posted By</th>
                <td mat-cell *matCellDef="let row" class="td-width"> {{row.posted_by}}</td>
              </ng-container>
              
              
               <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="td-btn">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" class="td-menu">
                      <!-- <a mat-menu-item class="" routerLink="/addSubCategory">
                        <mat-icon class="material-icons-outlined">add</mat-icon>
                        <span>Add</span>
                      </a> -->
                      <a mat-menu-item class="" routerLink="/view-video/{{row._id}}">
                        <mat-icon class="material-icons-outlined">visibility</mat-icon>
                        <span>View</span>
                    </a>
                      <a mat-menu-item class="" routerLink="/edit-video/{{row._id}}">
                        <mat-icon class="material-icons-outlined">edit</mat-icon>
                        <span>Edit</span>
                      </a>
                      <a mat-menu-item class="" data-toggle="modal" (click)="Modal(row._id)">
                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                        <span>Delete</span>
                      </a>
                    </mat-menu>
                </td>
              </ng-container>

              <!-- Progress Column -->
              <!-- <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
              </ng-container> -->

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </div>
          <mat-paginator [length]="totalRecords" [pageIndex]="topPage" [pageSize]="limit"
          [pageSizeOptions]="getPageSizeOptions()" (page)="paginationOptionChange($event)"  aria-label="Select page of users"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div bsModal #smallModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="smallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close td-btn" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true" class="prof_modclose">
            <img src="assets/img/Group 225.png">
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the selected Video?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" (click)="smallModal.hide()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteArticle(delId)">Yes</button>
      </div>
    </div>
  </div>
</div>

