<section>
    <div class="page_header">
        <a routerLink="/admin/articles" class="back_Link"> <svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M19 12H5" stroke="#464BA8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="#464BA8" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg> Back to Articles List</a>
        <div class="page_header_container">
            <div class="page_heading">
                <h4>Articles </h4>
            </div>
        </div>
    </div>
    <div class="articles_sec">
        <img src="../../../../../assets/img/Rectangle 17.png" class="img-fluid">
    </div>
    <div class="resource_hdng_container">
        <h2>Build a better resume</h2>
        <div class="resource_sub_hdngs">
            <span class="user_circle_name">MG</span>
            <span class="arcle_author">Jaxson Stanton</span>
            <small> Posted 02 / 07 / 21</small>
        </div>
        <div class="resource_inner_content">

            <p class="reosurce_posted_info">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fermentum enim, fermentum, phasellus cras tempus, lacus. Dui pellentesque dui praesent platea. Magna velit, lorem enim, amet volutpat cursus neque. Posuere elit lobortis tempus vivamus praesent at ac tortor.
Eros a nisi, hendrerit mauris tincidunt. Aliquet adipiscing ultricies tellus, volutpat quis. Risus facilisis interdum viverra felis, odio scelerisque. Scelerisque tortor pulvinar pulvinar fermentum mi et urna, quis. Viverra amet, in bibendum elementum elit venenatis, tristique sit. Pharetra tristique eget sed maecenas enim auctor odio sed elementum. In adipiscing viverra senectus et quis non. Adipiscing et non morbi quisque risus eu vulputate egestas id. Fringilla scelerisque augue nisl diam arcu lectus. Cras tristique nam diam, ullamcorper nisi. Molestie neque amet, ac porta aenean nunc quam felis nulla. Non, placerat in commodo in sem habitant.
Purus volutpat aliquam integer mauris. Nam id venenatis pellentesque pellentesque. Donec est et sed velit at aliquet imperdiet. Velit vel id id orci, egestas id. Cursus vitae sit orci vitae luctus lectus sit eget. Cursus in ultricies sit vestibulum nulla nisi imperdiet dignissim ac. Eu in gravida id volutpat. Nec auctor amet posuere massa imperdiet nulla aenean diam. Ut lobortis sed aliquet donec.
Nisi lectus malesuada lectus imperdiet dictum id quisque. Montes, sapien libero sodales pharetra sed neque. Iaculis congue augue eget donec in nec platea id nullam. Quam tortor ut in eu euismod urna amet, fames. Condimentum ut ac convallis in bibendum faucibus.
Magna diam adipiscing vitae quis nullam cras. Tempor donec morbi dolor ullamcorper id pharetra, cursus etiam. Adipiscing nunc, eleifend gravida malesuada tellus diam mattis condimentum. Nulla.
            </p>
        </div>
    </div>
</section>