.header-logo{
    float: right;
    width: 250px;
    margin-right: 24px;
}
.header-text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 33.85px;
    letter-spacing: 0%;
    color: #fff !important;
}
.modal-title{
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.25px;
    letter-spacing: 0%;
    text-align: center;    
}
.form-container {
    padding: 60px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .otp-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .confirm-btn {
    width: 100%;
    margin-top: 15px;
  }
  
.modal-header{
    background: url('../../../../assets/img/bg-form.png') no-repeat center center;
    background-size: cover; 
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-top-left-radius: 73px;
    justify-content: space-between;
    border-top-right-radius: 73px;
}
.page_sub_header {
    background: url('../../../../assets/img/bg-form.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    // background-color: rgb(var(--primary-color) , 85%);
    padding: 40px 50px;
    color: #fff;

    a {
        font-family: var(--font-primary);
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        display: inline-block;
        text-align: left;
        margin-bottom: 5px;
        color: #fff !important;
    }

    h3 {
        font-family: var(--font-primary);
        font-size: 26px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 0px;

    }
}
.preview_form_card_student {
    max-width: 1201px;
    margin: 0 auto;
    width: 100%;
    // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 30px 24px 10px;
    margin-top: 15px;

    .form_title {
        font-family: var(--font-primary);
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-black-color);
        padding-bottom: 35px;

    }
}
.step_footer{
    padding: 40px 24px;
    max-width: 1201px;
    margin: 0 auto;
    text-align: right;
    .theme_btn{
        width: 135px;
    }
}
.form-group{
    margin-bottom: 50px;
}
.file_upload {
    border: 1.5px dashed var(--pink-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    max-width: 550px;
    position: relative;
    // margin: 0 auto;
    margin-bottom: 32px;
    cursor: pointer;

    .file_upload_label {
        width: 100%;
        position: absolute;
        height: 100%;
        margin: 0px;
        cursor: pointer;
    }

    input {
        // visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        cursor: pointer;
    }

    p {
        font-family: var(--font-primary);
        font-size: 12px;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--mid-dark-gray-color);
        margin-bottom: 0px;

        strong {
            font-size: 16px;
            font-weight: 400;
            color: var(--header-footer-form-heading-color);
        }

        span {
            color: var(--pink-color);
        }

    }
}
.sign_from {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    label {
        width: 106px;
    }

    .form-control {
        flex-grow: 1;
        width: 100%;
    }
    canvas.form-control{
        padding: 0px;
        height: 90px;
    }
}

.files_list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;

    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .file_card {
            display: flex;
            align-items: center;

            .content {
                flex-grow: 1;
                display: flex;
                align-items: center;
                margin-right: 15px;
                width: calc(100% - 100px);

                p {
                    font-family: var(--font-primary);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: var(--main-black-color);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;
                    max-width: calc(100% - 40px);
                    margin-right: 12px;

                    span {
                        color: #9A9A9A;
                        font-size: 14px;
                        line-height: 18px;

                        &.danger {
                            color: var(--danger-color);
                        }
                    }
                }

                svg {
                    margin-right: 12px;
                }
            }

            .btn_group {
                display: inline-flex;
                align-items: center;
                pointer-events: auto;
            }
        }
    }
}
.sign_foot_btn{
    text-align: right;
    margin-top: 9px;
    margin-bottom: 15px;
    .bs_btn{
        width: 140px;
        margin-left: 6px;
    }
}
.hidden {
    display: none;
  }
  .input-radius{
    border-radius: 50px;
}
.email-input{
    background: #9a9a9a;
    color: #e2e2e2;
}
.otp-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.otp-flex{
   flex: 1;
   input{
    border: 1px solid #464BA8;
   }
  
}
.otp-send{
    width: 145px;
    height: 48px;
    border-radius: 25px;
    background: #464BA8;
    color: #fff !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.1px;
    letter-spacing: 0%;
    text-align: center;
}
.is-invalid {
    border: 1px solid red !important;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 2px;
  }
  .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3) !important; /* Darker background */
    backdrop-filter: blur(8px); /* Apply blur effect */
  }
  
  body.modal-open {
    overflow: hidden; /* Prevent scrolling */
  }
  
.countdown-active {
    background: #9A9A9A !important;
    cursor: not-allowed;
  }
  
  .countdown-inactive {
    background-color: #464BA8 !important; /* Original color */
  }

  .send-confirm{
    width: 145px;
    height: 48px;
    border-radius: 25px;
    background: #464BA8;
    color: #fff !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.1px;
    letter-spacing: 0%;
    text-align: center;

}

  .background-image-top-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; /* Adjust size as needed */
    height: 100vh;
    z-index: -1; /* Send to background */
}

.background-image-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

// :host ::ng-deep .mat-horizontal-content-container {
//     background: transparent !important;
//   }
  


.success-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.success-icon {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

h1 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #888;
}


.h2{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.25px;
    letter-spacing: 0%;
    text-align: center;

}
::ng-deep .modal-open .modal{
    display: block;
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
:host ::ng-deep .modal-open .modal{
    display: block;
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

:host ::ng-deep .intern_stepper.student_form_submit .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container{
    background: #F6F6FB !important;
}

:host ::ng-deep  .intern_stepper.student_form_submit .mat-stepper-horizontal .mat-horizontal-content-container{
    background: transparent !important;
}

.error-message{
    top: 0px !important; 
    right: 0; 
    position: relative !important;
    width: 185px;
    font-size: 12px;
    background: #FFEEEE;
    color:#D73C3C !important;
    border-radius: 10px;
    border-width: 1px;
    padding: 5px 20px;
}
.right-side{
    right: 0; 
    position: absolute;
    top: -2px;
}
::ng-deep .bottom-side{
    top: 4px !important;
    bottom: 4px !important;
    display: block !important;
    margin: 8px 0 5px -1px !important;
    position: relative !important;
}
.error-invalid{
    border-radius: 25px;
    border-width: 1px;
    border: 1px solid #D73C3C !important;
    box-shadow: 4px 4px 5px 0px #D73C3C26;
}
::ng-deep .error-invalid-select{
    border-radius: 25px !important;
  border: 1px solid #D73C3C !important;
  box-shadow: 4px 4px 5px 0px #D73C3C26 !important;
}
::ng-deep .error-invalid-select .ng-select-container {
  border-radius: 25px !important;
  border: 1px solid #D73C3C !important;
  box-shadow: 4px 4px 5px 0px #D73C3C26 !important;
}

::ng-deep .error-invalid-texarea{
    border:0px;
    border-color:transparent;
    textarea{
     border:0px;
     border-color:transparent;
    }
    .mdc-text-field--outlined{
            --mdc-outlined-text-field-outline-width: 0px !important;
    }
    .mat-mdc-text-field-wrapper{
        border-radius: 5px;
        border-width: 1px;
        border: 1px solid #D73C3C !important;
        box-shadow: 4px 4px 5px 0px #D73C3C26; 
    }
}
.likert.error-invalid-radio li:not(:last-child)::before {
    background: #D73C3C !important;
}
.likert li.error-invalid-radio:not(:last-child)::before {
background: #D73C3C !important;
}
::ng-deep .error-invalid-radio .mat-radio-outer-circle {
    border-color: #D73C3C !important;
    border-width: 1px;
}

::ng-deep .error-invalid-radio .mat-radio-outer-circle {
    border-color: #D73C3C !important;
    border-width: 1px;
}

::ng-deep .mat-checkbox.error-invalid-checkbox .mat-checkbox-inner-container {
    border: 1px solid #D73C3C !important;
    border-radius: 5px;
}
::ng-deep .mat-checkbox.error-invalid-checkbox .mdc-checkbox__background {
       border-radius: 25px;
        border-width: 1px;
        border: 1px solid #D73C3C !important;
        box-shadow: 4px 4px 5px 0px #D73C3C26; 
}

::ng-deep .error-invalid-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background{
 border-width: 1px;
    border: 1px solid #D73C3C !important;
    border-color:  #D73C3C !important;
    box-shadow: 4px 4px 5px 0px #D73C3C26; 
}
::ng-deep .error-invalid-checkbox .mdc-checkbox__background {
  border: 1px solid #D73C3C !important;  /* red border */
  border-radius: 5px !important;
}
::ng-deep .error-invalid-checkbox mat-checkbox .mdc-checkbox__background {
    // border-radius: 25px;
    border-width: 1px;
    border: 1px solid #D73C3C !important;
    border-color:  #D73C3C !important;
    box-shadow: 4px 4px 5px 0px #D73C3C26; 
}

::ng-deep .error-invalid-date .custom_datepicker_container {
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid #D73C3C !important;
    border-color:  #D73C3C !important;
    box-shadow: 4px 4px 5px 0px #D73C3C26; 
}



::ng-deep .mat-radio-button.error-invalid-radio-group .mat-radio-inner {
border: 1px solid #D73C3C !important;  // Red border for error state
}
::ng-deep .mat-radio-button.error-invalid-radio-group .mat-radio-outer-circle {
border: 1px solid #D73C3C !important;  // Red border for error state
}


::ng-deep .error-invalid .ng-select-container {
    border: 0px solid #D73C3C !important;
  }

  ::ng-deep .mat-checkbox.error-invalid-radio .mdc-radio__background .mdc-radio__outer-circle {
       border-radius: 25px;
        border-width: 1px;
        border: 1px solid #D73C3C !important;
        box-shadow: 4px 4px 5px 0px #D73C3C26; 
}
::ng-deep .error-invalid-radio .mdc-radio__outer-circle {
  border: 1px solid #D73C3C !important;
  border-radius: 25px !important;
  box-shadow: 4px 4px 5px 0px #D73C3C26 !important;
}


::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after {
    top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 22px) !important;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header::after {
    top: calc((var(--mat-stepper-header-height) - 24px) / 2 + 22px) !important;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.info-message{
    opacity: 1;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    gap: 10px;
    border-width: 1px;
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0%;
    color: #2B2A35;
    background: #F7F8FF;
    border: 1px solid #464BA8;
    margin-top: 15px !important;
}

.custom_timepicker_wrapper {
  position: relative;
  display: flex;
  align-items: center; /* vertically center input and toggle */
}

.custom_timepicker_wrapper input.form-control {
  width: 100%;
  padding-right: 40px; /* give space for toggle button */
}

.custom_timepicker_wrapper .time_picker_toggle {
  position: absolute;
  right: 10px;   /* move toggle to right side */
  top: 50%;
  transform: translateY(-50%); /* vertically center */
  cursor: pointer;
}
